[2016-01-29 00:40] mac251 commented on #341
I'm having the same issue with windows vista

[2016-01-29 03:58] michalzubkowicz commented on #341
Same problem here, also with mosaic theme

[2016-01-29 07:28] enoordam commented on #341
Same for me, dark theme and mosaic, Windows 10.

[2016-01-29 09:32] Aluxian opened #342 "Press Enter to Send"
I would like to recommend you to add a toggle feature already existing on the official Facebook website:
"Press Enter to Send." which would allow users to write paragraphs rather than just a single block of text and avoid sending a message by mistake.

[2016-01-29 15:09] Samgarr commented on #330
Same on Arch Linux!

[2016-01-29 16:11] Sypanite commented on #341
Mmm, this issue has been open for a few days now. I hope it gets sorted soon.

In the meantime, there's a temporary fix you can do by modifying the CSS - originally provided by orangeSkySTUDio on issue #337.

- Open the context menu in the Messenger window, select "Launch dev tools"
- Press the drop-down icon next to the gear
- Click the 'Search' tab
- Search for "4rv3"
- Modify "color:rgba(255, 2

[2016-01-30 03:30] supereii commented on #317
Same here. I would love to see that features on this app.

[2016-01-30 19:10] rajatshah92 opened #343 "Scroll speed too fast"
The scroll speed using trackpad for Windows is extremely fast. A way to make this adjustable would be great.

[2016-01-30 19:11] rajatshah92 commented on #342
If you want to go to the next line, you can use shift+enter.

[2016-01-30 23:17] rmenessec opened #344 "Needs fork - abandoned"
Last commit was six months ago. Developer is still active on GitHub, but not on this project.

I have no experience with node.js - can someone pitch in and start fixing some of the smaller problems?

[2016-01-30 23:20] meyersbs commented on #341
I have the same issue (Ubuntu 15.10, 64 Bit) and Synpanite's suggested [fix](https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/341#issuecomment-176840126) didn't work.

[2016-01-31 08:40] michalzubkowicz commented on #341
Thx @Sypanite , it's working.

[2016-01-31 12:42] kernschatten commented on #301
Running `messengerfordesktop --force-device-scale-factor=2` in the Linux terminal worked for me using 2880x1620 display.

[2016-01-31 14:49] rick9791 commented on #341
Same issue here on Xubuntu 15.10, but @Sypanite's solution fixed the issue, thanks!

[2016-02-01 03:41] #32 closed

[2016-02-01 06:35] ClearStaff commented on #341
For mosaic theme (and maybe black too) i added following style to the .css and compiled app from scratch:

[code]

[2016-02-01 14:55] transgressor01 opened #346 "online contacts list needed"
add the feature of **online contacts** list

[2016-02-02 06:33] NitsuSaiNeko commented on #342
@rajatshah92  Exactly. Both Ctrl+Enter or Shift+Enter would go to the next line. In fact, most messenger or send-upon-enter text box works like this.

[2016-02-02 06:44] NitsuSaiNeko commented on #333
The voice call will pop up in a browser, but it works. It's only annoying when my friend calls me, I hit answer and the browser popped up asking me if I want to call, which on my friend's side, I neither hanged up nor answered it, which I can't call him since his literally "on the phone".
I wonder if it is possible to just pick up the phone within the messenger or have a specific pop out windows i

[2016-02-02 06:46] NitsuSaiNeko commented on #346
I didn't get it. There's contacts list already and you can tell if they're online by the icon right under their avatar.

[2016-02-02 06:47] NitsuSaiNeko commented on #317
Same. I currently change those using my phone but it would be really nice if I can just do it right in the messenger :D

[2016-02-02 06:50] NitsuSaiNeko commented on #323
same. Clicking on the video will try to play but it's all blacked out and nothing happens.

[2016-02-02 06:53] NitsuSaiNeko commented on #318
I am able to see that people is currently typing though.
and the window on top feature, I just use a small program called Deskpin to pin any windows I want on top.

![ss 2016-02-01 at 10 51 29](https://cloud.githubusercontent.com/assets/12886318/12741989/67f67a2c-c936-11e5-91aa-74c4d3c0e0e9.png)

[2016-02-02 12:43] iRuisu commented on #341
Dude's working on the fixes for v2 according to his Twitter so we've just to patiently wait.

[2016-02-04 13:38] mario-cizmarik opened #347 "cannot play video"
i can open recieved video from contact but can't play

[2016-02-04 13:40] mario-cizmarik opened #348 "sometimes need to manual reload app, after first run"

[2016-02-04 14:47] transgressor01 commented on #346
what I meant was the feature like appearance of a green dot in front of the online contact

[2016-02-04 14:51] transgressor01 opened #349 "dark and mosaic theme issues"
no text is visible while writing; its too white to be seen in **Dark** and **Mosaic** themes, but in the default theme it is okay

[2016-02-04 15:17] ajisma commented on #338
I can't save this because this error «Saving files is not enabled in hosted mode. Please inspect using chrome://inspect». Why this happens?

[2016-02-04 18:17] alexghi commented on #349
in the compiled css it looks like this selector is causing the issue: ```._4rv3```

[2016-02-05 15:01] Marox44 commented on #349
It started not a long time ago. **I checked it also on the linux version - same issue.**
Looks quite like that for me:

![bug image](http://i.imgur.com/jGv3gSo.jpg)

[2016-02-05 15:21] alexghi commented on #349
my guess is that maybe the css selector name has changed in messenger.com for some reasons and that's causing the issue, because basically the whole app resides in an iframe.
I might be wrong though, is just a guessing.

[2016-02-05 16:04] Marox44 commented on #347
Indeed it would be really convenient to be able to play a videos inside the app. If I receive a video, it shows with a play button but need to go on website to watch it.

[2016-02-06 15:25] salahuddinasjad commented on #341
@ClearStaff, how did you compiled the app?

[2016-02-06 17:01] bijtje opened #350 "automatic signin"
The automatic signin thing doesnt work, I always have to sign it again when I open it.
Besides is it possible to add a feature to open it automatically on windows start?

[2016-02-08 17:14] maher17 opened #351 "Messanger window not showing"
I have installed Messanger for desktop 2 weeks ago , but Now when i run messanger ,it window don't show

[2016-02-09 21:55] paland3 commented on #351
I have the same issue. I reinstalled the app, the results is the same: when I open the app, the window is not showing.

[2016-02-12 02:31] AlexisCaffa opened #352 "Add KDE Plasma 5 systray icon support"
The application can not be minimized in the system tray.
Tested on Kubuntu

[2016-02-12 08:26] mrbax commented on #242
Issue still present even on first run after install.

[2016-02-12 08:36] mrbax opened #353 "Missing URL preview"
In browser Messenger chat, one can paste a URL and a preview pops up.  One can then replace the URL with comments.  Neither step works on Messenger for Desktop.
![preview1-or8](https://cloud.githubusercontent.com/assets/13304143/13002094/6dc78a18-d174-11e5-8e64-068065f6238e.png)
![preview2-or8](https://cloud.githubusercontent.com/assets/13304143/13002096/7313d85a-d174-11e5-9a47-df36af635ebd.png)

[2016-02-12 08:50] NoNameProvided commented on #242
After restarting the app, this issues should be gone, it only occurs on the first run or if you logout and login again.

[2016-02-12 12:01] rahul467 commented on #23
Hi,

I’m using GoGo and wanted to recommend this app to you.
GoGo is a personalised lock screen app for your android phone. GoGo shows
you the latest news and stories. Also you earn Free Talktime every time you
read a story or unlock your phone

GoGo is light, fun and easy to use. Also it is very addictive! On top of
this, the free talktime is simply great!

Click below URL to install GoGo now & g

[2016-02-12 16:36] cadecairos opened #354 "Crashes when escape key pressed"
On Ubuntu 15.10, The application crashes when I press the escape key.

Crash detials from terminal:
[code]

system details
[code]

[2016-02-13 16:42] NightMean opened #355 "White text box"
Hey I'm using your app for a while now and for like 2 weeks if not more I noticed that text box it's white and before it was black so I was able to see what I'm writing but now I'm not.On the picture you can see that.If I switch the theme to Mosaic it remains the same.On default theme the text will switch to black and I can see it nicely.I tried to reinstall but didn't worked
[http://i.imgur.com/h

[2016-02-13 16:42] #355 closed

[2016-02-13 16:42] NightMean commented on #355
Sorry I just saw someone reported it,

[2016-02-13 19:21] Alex0826 commented on #347
Same here =( Can't play back any video clips or audio messages while using the desktop app... please help

[2016-02-13 19:55] jdso opened #356 "Please add option to esc key close only the overlay."
Esc key closes the window, but if you're in-browser only closes the overlay (e.g. if you're looking at a picture). My suggestion is if you're seeing a picture or watching a video esc key should close the overlay. if no overlay is present, then it should close the window.

[2016-02-14 02:53] Sytten commented on #344
see my fork some of the problems were fixed, but not all

[2016-02-14 22:13] selfagency commented on #259
abandoning this ticket like this app's been abandoned

[2016-02-14 22:13] #259 closed

[2016-02-15 00:44] joeffel opened #357 "RPM Package"
Please create a package for openSUSE Leap 42.1.

[2016-02-17 02:32] karansangha commented on #356
Can we make the escape key to close the window optional? I would much rather have it minimize the window or do nothing at all.

[2016-02-17 03:18] jdso commented on #356
On 02/17/2016 02:32 AM, Karanvir Singh Sangha wrote:

I would like to have the option to have it closing the overlay (1st
press, if there's an overlay), and then minimizing the window as you
said. I'm thinking about contributing to the project, gotta take some
time to get into it !

[2016-02-18 18:45] kaaboaye commented on #351
Kill process and restart its helping

[2016-02-18 19:19] scramble0 opened #358 "TEXT FIELD"
Using both DARK THEMES  keeps TEXT FIELD with WHITE background and WHITE text.... all white, you can NOT see  what you type

[2016-02-19 00:02] CNIAngel commented on #358
I doubt they'll fix it, but a quick fix for it is to Launch Dev Tools and then search for the text field. It's called "div._4rv3". This edit will only work as long as you leave the application open. Like I said, quick fix.

[2016-02-19 00:36] scramble0 commented on #358
I knew I could edit the code but the question was WHERE. Thanks mate :)

It's extremely simple dunno how they screwed up that. Hope dev's see this and apply a fix.

Thanks again Grant.

[2016-02-19 00:36] #358 closed

[2016-02-19 07:08] paland3 commented on #351
Thanks for the answer. I tried to kill the process, I even reinstalled the
app. No success.

On 18 February 2016 at 19:45, kaaboaye <notifications@github.com> wrote:

[2016-02-19 17:38] kaaboaye commented on #351
Show me debug and give info about OS and if Linux GUI and check dependences

[2016-02-20 12:02] GAMELASTER opened #359 "Adding a option to block "readed" post request"
Just add a switch to enable or disable a readed post request
https://www.messenger.com/ajax/mercury/change_read_status.php

[2016-02-21 11:59] paland3 commented on #351
I am using windows 10, 64 bit.
How can I give you debug information? I can make snapshots about the event.

On 19 February 2016 at 18:38, kaaboaye <notifications@github.com> wrote:

[2016-02-22 10:24] cassiodoroVicinetti commented on #352
https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/296#issuecomment-168556880

[2016-02-22 17:28] agajek opened #360 "Customizable display style of side bar"
Now sidebar by default shows last conversations with last message for each of them. Of course there is possibility to resize window and then sidebar only shows avatars of friends we chat lastly with. For me the nice option will be to select which of those two options I want to use no matter of window size, or add ability to resize sidebar.

[2016-02-23 07:03] how2945ard commented on #330
+1

[2016-02-23 08:40] maddie102899 opened #361 "Won't download on Windows 10"
It won't download and keeps bringing up an error message. I've tried running it as an administrator, but it still comes up with the error message. It's was working earlier, but stopped so I re-downloaded it. That's when the error message came up when installing.

[2016-02-23 19:55] InDoubt opened #362 "Doesn't play sounds in Safari nor in the App (Mac OS X Yosemite)"
Messenger doesn't play sound clips in the Mac.
Neither Safari in its web form nor in Messenger desktop stand alone app.
The bubble shows in both, but when clicked to play the spinning circle goes forever.

Please advice,

Thank you!

[2016-02-24 01:10] TPC3D commented on #341
Anybody have updates on this? The CSS fix worked for me, but I'm glad the dev doesn't seem to care, given it's been a month since the problem occurred. One of you mentioned his twitter, can you give a link?

Thanks.

[2016-02-24 23:31] uebmaster opened #364 "i get error when install in kubuntu 15.10"
Seleccionando el paquete messengerfordesktop previamente no seleccionado.
(Leyendo la base de datos ... 201488 ficheros o directorios instalados actualmente.)
Preparando para desempaquetar .../Messenger_linux64.deb ...
Desempaquetando messengerfordesktop (1.4.3) ...
Configurando messengerfordesktop (1.4.3) ...
/var/lib/dpkg/info/messengerfordesktop.postinst: línea 7: desktop-file-install: orden no

[2016-02-25 01:50] DanD21 opened #365 "OS X Full Screen"
Full Screen won't work correctly:
1. Can't see the bottom of the app - Dock is over it always
2. Can't see the top bar - can't press the resize button
Overall, can't exit Full Screen Mode!

[2016-02-25 04:46] tenzanoni opened #366 "Windows Compile not working"
I tried to create installer using both gulp and NSIS but none of them work.
Messenger just keep running 3 task at background. Nothing show on screen or icon taskbar. Anyone knows how to fix this?
screenshot: http://prntscr.com/a7mi29

[2016-02-25 19:01] vboctor opened #367 "Support OAuth rather than asking for facebook username and password"
Why is the app using basic auth rather than OAuth?

[2016-02-25 19:26] Sytten commented on #362
Normal behavior, NWJS doesnt support sound nor video right now

[2016-02-25 19:27] Sytten commented on #361
NWJS inst compatible with windows 10 right now

[2016-02-25 19:27] Sytten commented on #357
check my fork

[2016-02-25 19:28] Sytten commented on #356
If you add the option please push to my fork which is much more up to date ;)
I wanted to fix that too, but currently dont have time to do it...

[2016-02-25 19:30] Sytten commented on #354
Its not a crash, its just a normal quit for the app (I know the error is strange).
I added a toolbar icon in my fork, so now it just go in background.

[2016-02-25 19:31] Sytten commented on #351
NWJS doe not support windows 10 yet

[2016-02-25 19:32] Sytten commented on #349
I will apply the PR on my fork this weekend.

[2016-02-25 19:32] Sytten commented on #347
NWJS doesnt support it yet

[2016-02-25 19:34] Sytten commented on #341
Will be fixed on my fork this weekend

[2016-02-25 19:35] cadecairos commented on #354
Well, a non-zero exit is technically a crash. Ubuntu will interpret this as a crash as long as it has an anomalous exit status.

I'm using Antergos linux now, and this issue isn't present.

[2016-02-25 19:37] Sytten commented on #354
I have the same thing on linux mint, but I changed the behavior of the ESC button so I dont have your behavior (App quiting). I'm not sure, but I'm pretty confident its a NWJS problem...

[2016-02-25 19:43] kaaboaye commented on #351
On my win10 I don't any problems, just sometimes I have to kill process

[2016-02-25 19:44] kaaboaye commented on #351
And I don't now how to debug om windows :v

[2016-02-25 20:09] Sytten commented on #351
Its not stable, probably the next version of NWJS will fully support it (I hope, its currently in beta last time I checked)... You can use the toolbar and search info from there I guess.

[2016-02-25 20:29] Marox44 commented on #349
#345  ?

[2016-02-25 20:39] Unc3nZureD opened #368 "Theming isn't working properly"
When applying a custom theme (non-white), the chat still appears as white, which is very ugly.

For example:
http://i.imgur.com/NP4EiUJ.png

Appears on:
- Latest version of Messenger
- Updated Windows 10 x64
- Both Mosaic & Dark versions

[2016-02-25 22:56] paland3 commented on #351
it worked fine before on Windows 10.I will try compatibility mode.

On Thu, 25 Feb 2016 21:09 Émile Fugulin <notifications@github.com> wrote:

[2016-02-26 01:19] joeffel commented on #357
Link please?

[2016-02-26 05:04] auscompgeek commented on #367
Messenger.com doesn't use OAuth.

[2016-02-26 07:10] kaaboaye commented on #351
If you know what is ziemniaczek write on kaaboaye#gmail.com

[2016-02-26 15:01] Sytten commented on #357
Code: https://github.com/Sytten/Facebook-Messenger-Desktop
Website: https://sytten.github.io/Facebook-Messenger-Desktop/

[2016-02-26 15:03] Sytten commented on #367
Add this is just a wrapper around the website

[2016-02-26 15:03] Sytten commented on #368
https://github.com/Sytten/Facebook-Messenger-Desktop/issues/17

[2016-02-26 15:05] Unc3nZureD commented on #368
Ah, sorry, didn't see that one :) Exactly the same. Thanks.

[2016-02-26 15:07] Sytten commented on #368
I will apply the fix this weekend and build it again, stay tuned

[2016-02-26 15:33] joeffel commented on #357
Thanks!

[2016-02-26 15:33] #357 closed

[2016-02-26 21:08] bibbis commented on #349
Hi, has this issue been fixed?
I've had it for about a month now.

I don't understand much about what people are talking about in these posts.
Is this software open source and people are working on new versions together?

[2016-02-27 18:03] yerbestpal commented on #285
Hori, I'm having similar problems with the WM_CLASS on i3wm. I basically need the WM_CLASS so i3 can force it to start on a certain workspace. Could you possible tell me it? I've tried a million different variants of messenger.

[2016-02-28 06:06] Sytten commented on #349
@bibbis the software is indeed open source, if you check my fork (click on my profile you should see it) you will see that I corrected many bugs that the original apps have ;)

[2016-02-28 06:07] Sytten commented on #357
No problem :)

[2016-02-28 19:50] Hori873 commented on #285
It's pretty messed up but here you go: http://pastebin.com/TTm6bQmZ . It was made in a hurry but it works. Haven't got around to improve it since I don't really use this app that much

[2016-02-29 01:05] jay-to-the-dee commented on #315
Getting this off the offical .deb on the web AND self-building using GULP :(

[2016-02-29 01:26] bibbis commented on #349
@Sytten I don't know how to install that^^
do I need another program? gulp?
what is gulp?

[2016-02-29 03:02] romancement commented on #365
I have the exact same issue and it is driving me insane. I've tried uninstalling and reinstalling the app, no luck.

[2016-02-29 04:48] Sytten commented on #349
I will build it, so you will have a nice executable to install ;)

[2016-02-29 14:39] bibbis commented on #349
@Sytten thank you, I appreciate that :)

[2016-02-29 16:23] Sytten commented on #368
Release out
https://sytten.github.io/Facebook-Messenger-Desktop/

[2016-02-29 16:24] Sytten commented on #356
Done
https://sytten.github.io/Facebook-Messenger-Desktop/

[2016-02-29 16:24] Sytten commented on #364
Try my release
https://sytten.github.io/Facebook-Messenger-Desktop/

[2016-02-29 16:25] Sytten commented on #349
Done
https://sytten.github.io/Facebook-Messenger-Desktop/

[2016-02-29 16:30] bibbis commented on #349
@Sytten thank you for this.
I really appreciate you taking the time :)

It's a really usefull app you people are working on here.

[2016-03-01 19:32] uebmaster commented on #364
El Monday 29 February 2016 08:24:38 �mile Fugulin escribi�:

364#issuecommen

Don't works, tell me this

Configurando messengerfordesktop (1.4.7) ...
/var/lib/dpkg/info/messengerfordesktop.postinst: l�nea 7: desktop-file-
install: orden no encontrada
dpkg: error al procesar el paquete messengerfordesktop (--install):
 el subproceso instalado el script post-installation devolvi� el c�digo de
salida

[2016-03-01 21:37] mrrs6 commented on #356
Thanks ! I'm cloning the repo and i plan to contribute soon :)

[2016-03-01 23:28] Sytten commented on #356
Good, just create some PR if you want to add stuff on my fork.

[2016-03-01 23:31] Sytten commented on #364
Sorry I cant read that language,but try to delete all conf files in opt and then reinstall. Its strange because I provide a valid desktop file...

[2016-03-01 23:37] uebmaster commented on #364
El Tuesday 01 March 2016 15:31:31 �mile Fugulin escribi�:

364#issuecommen

 I verified and i haven't conf files in the /opt folder

I don't know what is the problem, in ubuntu the program runs fine, is in
kubuntu the problem.

[2016-03-02 09:51] sotosgray commented on #225
When you right click on the message you can just scroll the mouse a bit and the menu should disappear, leaving only the timestamp and the delete option

[2016-03-02 13:39] ekolis commented on #225
No, that doesn't work. Maybe Mac menus disappear or something, but Windows menus don't work that way...

[2016-03-02 22:56] jmessi commented on #368
@Sytten is that release gonna overwrite the current one installed? it has a warning saying that is a fork of the original release

[2016-03-02 22:57] Unc3nZureD commented on #368
I've already installed that one and perfectly works :) Thanks @Sytten

[2016-03-02 22:58] jmessi commented on #368
@Unc3nZureD @Sytten same here, looks perfect :3

[2016-03-03 20:01] pyrforos commented on #359
can't  see it....

[2016-03-04 04:53] Sytten commented on #368
Yes I wrote the warning so there would be no confusion. You will receive a notification when I release my updates instead and I think I wrote my name as developer (not sure).
I'm happy to see that its working great :)

[2016-03-04 17:48] GAMELASTER commented on #359
?

[2016-03-04 19:20] Ugion commented on #367
This is just a webwrapper, the developer doesn't control the messenger.com website, Facebook itself does.

[2016-03-04 20:05] pyrforos commented on #359
link  doesn't open..

[2016-03-04 21:24] GAMELASTER commented on #359
@pyrforos  because that link is pointing to a Facebook Messenger script, what marks a someone messages as seen by me, so when execution of this script will be blocked, you can see messages without the opposite friend dont see a "seen" :-) . And you saw a white page because this script requires a some POST arguments :-)

[2016-03-05 21:30] mrmayfield opened #370 "Is there a way to mute the desktop app?"
Can't seem to find a way to mute the sound that comes in on a new message. Any ideas? Is it in the UI and I just can't find it or does it not exist?

[2016-03-06 07:04] auscompgeek commented on #370
Messenger.com gear menu -> Settings -> Sounds?

[2016-03-06 12:52] SlavekT commented on #145
Two days ago I reinstalled Windows 10 and now Messenger doesn't remember the window size and position. It worked for me before. Any idea why? I can't find any settings for this.

[2016-03-06 17:02] #370 closed

[2016-03-06 17:02] mrmayfield commented on #370
Somehow couldn't find the gear last night. Thanks!

[2016-03-06 21:58] jmessi commented on #368
Hey again! I noticed there seems to be another issue, not necessarily related with the theming. When changing the chat colors, only a few things change, but the bubbles remain the usual blue color. Here's a screenshot in attach

![screenshot 2016-03-06 21 31 47](https://cloud.githubusercontent.com/assets/17604189/13557346/9739bedc-e3e6-11e5-9b34-7978c687857f.png)

[2016-03-07 02:23] reklaimer commented on #358
So what exactly should we edit here to make the dark theme appear as it should in the text entry box? I've found the entry in the dev tools, but I'm not sure what to do next. I use this every day on my PC and its super irritating that I can't use the dark theme! Would love to get it to work, thanks!

[2016-03-07 11:26] champnaman opened #371 "Not able to Uninstall the program"
I want to remove this program but it is not listed in the Control Panel.

[2016-03-08 15:45] iRuisu commented on #371
You can't have tried too hard looking for the uninstaller.. Simply searching for Messenger within the start menu will link you to the uninstaller.

[2016-03-12 08:46] skyli91 opened #372 "Can't resize the window as small as i used to"
In this fork: https://sytten.github.io/Facebook-Messenger-Desktop/
I cant resize the window to narrow bar in the side of my screen as i used to be able with the original.
Could you please fix it?

[2016-03-13 06:25] #372 closed

[2016-03-14 13:28] erayerdin opened #373 "Avatars and Stickers Do Not Work Properly"
![screenshot - 14-03-2016 - 15 19 10](https://cloud.githubusercontent.com/assets/2399084/13745819/c9048664-e9f8-11e5-9d7b-93c38b119a75.png)

I cannot see any avatars or any stickers. However, Facebook works well in browser. Those below are the terminal outputs I've captured:

    [8157:0314/152500:ERROR:browser_main_loop.cc(170)] Running without the SUID sandbox! See https://code.google.com/p/chro

[2016-03-14 13:41] jelinekp commented on #373
I have the same problem. I am running messengefordesktop on Ubuntu.

[2016-03-15 18:34] NoMoKeTo commented on #373
I have this problem, too. I'm using GNOME on Arch Linux.

[2016-03-15 22:54] rtud commented on #373
Same here on elementary OS (Ubuntu 14.04).

[2016-03-16 00:43] erayerdin commented on #373
This issue is gone in my application, now. Is there any problem?

[2016-03-16 00:45] erayerdin commented on #373
The issue is gone, now. I'm leaving this issue for only further debug for developer/contributors. I also want issue participants  ( @rtud @NoMoKeTo @jelinekp ) to inform if issue is still up for them.

[2016-03-16 09:09] NoMoKeTo commented on #373
Yes, it's gone for me, too.

[2016-03-17 01:53] AlxAlindayu commented on #351
i have a same problem about messenger any solution for windows 7 64bit ?

[2016-03-17 07:10] kaaboaye commented on #351
May be you have AMD

[2016-03-17 15:28] rrsturua commented on #366
i have too the problem :(

[2016-03-17 17:05] shenglong209 opened #374 "can't start application"
Hi,
i try to build this application in my ubuntu 15.10, after install it's on my ubuntu, i can't start applicattion and  get an error:

"[25577:0318/000147:ERROR:browser_main_loop.cc(170)] Running without the SUID sandbox! See https://code.google.com/p/chromium/wiki/LinuxSUIDSandboxDevelopment for more information on developing with the sandbox on."

Please help  me know how to fix it, thank you s

[2016-03-17 19:31] Marox44 commented on #349
@Sytten
Yeah, it works really nice. Thanks a lot for working on it. :smiley:
 It's great that someone is developing the app on his own, as unfortunatelly so far there are no new releases/bug fixes released by orgininal author(s) whatsoever :disappointed:

[2016-03-17 23:52] ViBENo1 commented on #374
same here but the error message continues with the following
`ATTENTION: default value of option force_s3tc_enable overridden by environment.
[3681:0318/004444:WARNING:nss_ssl_util.cc(374)] Unknown SSL error -12218 (SSL_ERROR_ENCRYPTION_FAILURE) mapped to net::ERR_SSL_PROTOCOL_ERROR`

and the application usually can't load the content.
OS: Ubuntu 14.04, 64 bit

[2016-03-19 04:28] Sytten commented on #349
Thank you, its a pleasure!
Their will be a completely new app soon he said based on Electron.
As soon as I have some time I will work on that new app.

[2016-03-19 04:30] Sytten commented on #351
Windows 7 should be fine, its very well supported by NWJS. Try deleting the settings in Appdata and reinstall. You should also consider my fork if you want a more updated version.

[2016-03-19 04:31] Sytten commented on #374
Try my fork, I've already done all the work ;)
SUID sandbox should not be an issue, thats strange...
Please confirm if it works or not...

[2016-03-19 04:33] Sytten commented on #373
Maybe a change in the facebook API... That is weird. People seems to have trouble with ubuntu 14.04... Check my fork, I updated the dependencies and fixed some bugs.

[2016-03-19 04:34] Sytten commented on #368
Will take a look for the next release when I have some time...

[2016-03-19 04:55] shenglong209 commented on #374
it freez with this message when i try to run "npm install"
`engine is-buffer@1.1.3: wanted: {"node":">=0.12"} (current: {"node":"0.10.25","npm":"1.4.21"})`

[2016-03-19 05:10] Sytten commented on #374
You have a version of node already installed probably in global that is outdated, its only thing I can see since I dont have any trouble what so ever when I run npm install...

[2016-03-19 05:27] shenglong209 commented on #374
:(
the binaries was installed
dark theme is very ugly
 http://i.imgur.com/hfxBOkA.png

[2016-03-19 09:13] jackwilsdon commented on #374
@shenglong209, there is already some issue open for the theming issue: #368, #349, #152.

[2016-03-19 09:27] shenglong209 commented on #374
ok, thank you @jackwilsdon , i updating my node, i will fix it manual ^^

[2016-03-19 20:36] Sytten commented on #374
Or you can use my fork lol

[2016-03-19 22:38] thecrowlife opened #375 "wheres the app?"
i installed it and yet does not show up in any folders or anywhere.. is this a fake software?

[2016-03-19 22:41] thecrowlife commented on #375
nvm i found it..

[2016-03-19 22:41] #375 closed

[2016-03-20 02:20] ViBENo1 commented on #374
@Sytten your version drains the CPU and basically stuck my system

[2016-03-20 09:08] erayerdin commented on #373
I'm closing the issue since the issue does not occur anymore by the review of participants.

[2016-03-20 16:39] CNIAngel commented on #358
If you're still using this version of the Messenger Desktop Application, if you found _4rv3 then you'll want to edit this to make the text appear correctly.

[http://i.imgur.com/4KPEOBI.png](url)

At this point I've started using a fork of this application that has fixed this issue and allows you to make custom themes. In case anyone is interested in that one too.

[https://sytten.github.io/Facebo

[2016-03-20 19:02] beppe9000 opened #376 "Phantom tray icon"
I get this phenomenon randomly with both your web wrappers. Icon disappears but retains its functionality. I'm on Windows 10.

![2016-03-09_12-06-32](https://cloud.githubusercontent.com/assets/6625123/13906457/95c0d4d2-eed6-11e5-9af9-0e042973d8c6.png)

[2016-03-20 22:49] Sytten commented on #374
Thats strange. If you are on ubuntu, thats because of the system tray from what I heard.

[2016-03-20 22:50] ViBENo1 commented on #374
yes, i'm on Ubuntu 14.04 64 bit.

[2016-03-20 22:53] Sytten commented on #374
Check this out: https://github.com/Sytten/Facebook-Messenger-Desktop/issues/14
Tell me if it works...

[2016-03-21 02:47] ViBENo1 commented on #374
i guess yes but that does not worth the cost for me to use a single application.
i cleared the cache and reinstalled. now i have this SUID error message too in console. it still eats my CPU and i cannot login. it's loading forever. then when i tried to close it i got the following error message:

`[7551:0321/033317:WARNING:x11_util.cc(1490)] X error received: serial 7634, error_code 3 (BadWindow (

[2016-03-21 04:37] Sytten commented on #374
Well I cant really help you if you don't want to use a system tray.
The problem, I suspect, is that the app tries to register to the Ubuntu tray which refuses and it keeps trying forever (that would explain the high CPU load). When I tried on Ubuntu (latest), it worked fine with the app I suggested. Anyway, the best solution would be to throw away that Ubuntu trash and use something else instead (

[2016-03-21 04:38] Sytten commented on #376
NW.js still have some problems with windows 10. Even on my fork I have those problems...

[2016-03-21 04:44] ViBENo1 commented on #374
nevermind. it just make no sense for me. but the tray icon why not just optional if it's one of the most common issues?

i mean the original version, not your fork. on Ubuntu the original just stop working after a few days. missing icons, missing profile pictures and never ending loading.

[2016-03-21 04:58] Sytten commented on #374
Well, I could make it optionnal, but since this app is fixed for replacement and I dont have a lot of time I didnt do it.

The original app didnt provide a system tray icon for linux and that annoyed me (thats why I forked it in the first place). The original should be working quite fine, what you describe should a lot like data corruption. Maybe try to delete all the files provided and settings (

[2016-03-21 16:33] ViBENo1 commented on #374
i understand. i just don't get it why Linux version started to stuck at loading. i already cleared setting and all files. this started about three weeks ago. as far as i remember the biggest change in the meantime is the kernel updates and that's all. but that can't be related.

[2016-03-21 23:16] auscompgeek commented on #368
@jmessi Fixed in f2d795dc476d40fe811396bdd30e136a1539bce6 (see #369).

[2016-03-22 07:22] Sytten commented on #368
Its fixed in my fork too ;)

[2016-03-22 07:24] Sytten commented on #374
Linux version dont stuck at startup, yours maybe do but I use mine on Mint without any problem for almost 4 months...
Its an ubuntu related problem, that company add too much crap in their product...

[2016-03-24 09:44] yojo3000 opened #377 "image display fail on Ubuntu 15.10 64bit"
all images are not able to display normally on Ubuntu 15.10

[2016-03-28 00:12] grkstyla opened #378 "Some messages showing blank content"
Hi Guys,

Windows 10 all updates,

All messages received that contain anything other than text are blank, they show senders DP sent date and time, but nothing else (see screenshot)

Using latest version, tried reinstalling and deleting appdata.

Used to work perfectly so im thinking maybe i did something wrong?
![0dbe8fd82e52ff9beb57ac137534e892](https://cloud.githubusercontent.com/assets/18106219

[2016-03-28 08:14] hazeem1991 commented on #377
same here not cache problem

[2016-03-28 08:22] hazeem1991 commented on #377
![screenshot from 2016-03-28 11-21-06](https://cloud.githubusercontent.com/assets/18112493/14074108/34fbdc44-f4d7-11e5-9813-1616a93e05e3.png)
this is a screen shot for the problem

[2016-03-29 10:56] Gittyperson commented on #346
A helpful addition would be the ability to sort contacts by their online status, and/or only show online contacts.

What Facebook considers "online" still confuses me though, since I see much more 'online' users (blue icon) in your excellent Messenger on Windows 10, than in the Facebook webpage on my browser.

[2016-03-30 01:36] joshuanasiatka opened #379 "Faint grey text on white background for new messages (OS X)"
When writing messages the font color is a faint grey, close to #fafafa or #eee. It is practically invisible with the lack of contrast. This happens with dark mode and mosaic.

[2016-03-30 12:05] nomaderr commented on #379
Same thing on Windows and Debian

[2016-03-31 15:40] aleksandrmaksimoviclt opened #380 "No action on click on notification || UBUNTU 15.10"
**ISSUE:**
When i receive message, the notification is displayed in top right corner of my screen with sender photo and message. Clicking on that notification **doesn't** open chat with sender. Instead, notification is being blurred on mouse hover.

**What i have done:**
I have enabled the notification in settings -> "Turn on desktop notifications".

[2016-04-01 15:17] gbardhoshi commented on #154
Any progress on this?

[2016-04-01 15:42] bfred-it commented on #154
Same as this: https://github.com/sindresorhus/caprine/issues/14

[2016-04-01 15:57] tnegoshi commented on #154
Seems another OS X FBMessenger app has the feature enabled [fb-mac-messenger/Enable spell checking #57](https://github.com/rsms/fb-mac-messenger/pull/57)

[2016-04-01 16:11] bfred-it commented on #154
That doesn't look like it's based on Electron, that's the whole problem.

[2016-04-04 05:11] xtian23anthony opened #381 "Audio/Voice Message Not Playing"
Audio and/or Voice Message is not playing. When I try to play the audio or voice message that was sent to me, or that I sent to others, it's not playing. It's only showing that it's loading, but it doesn't play.

OS: Windows 10 Pro

![asdasd](https://cloud.githubusercontent.com/assets/18255231/14238729/c277ef88-fa66-11e5-851e-f13f27b10117.PNG)

[2016-04-04 19:41] nodzy opened #382 "Using Messenger for Desktop after account deactivation"
I deactivated my Facebook account. I still can use Messenger on my phone, but unfortunately it doesn't work on Desktop version.
When I try to log in, it doesn't give me any error, just refreshes login page.

[2016-04-05 02:01] minhman commented on #324
You need to open unikey with "Run as administration"

[2016-04-05 19:09] UdoKifferbrehl opened #383 "SSL support --> https://messengerfordesktop.com/"
Hey there,

what do you think of using SSL for your website https://messengerfordesktop.com/?
You can get free certificates from Let's Encrypt or WoSign.
Thank you very much 😙

[2016-04-06 15:25] iainelder commented on #210
Wow. Messenger App is off the chart, even when it is doing nothing. ![image](https://cloud.githubusercontent.com/assets/5024311/14322234/64b3aaa6-fc1c-11e5-80bb-9a04face8966.png)

[2016-04-07 00:01] groovenectar commented on #383
The downloads are over SSL via GitHub, I'm happy with that. But can look into https://letsencrypt.org/ if investment is an issue...

[2016-04-08 12:53] pmarcelll commented on #379
There's an actively maintained fork with a fixed font color, see: #296.

[2016-04-09 18:22] djdiaz commented on #293
I'm seeing constant 5-10% CPU usage from each of two "nwjs Helper" processes while the app is open (v1.4.3) on OS X 10.11.4. No GIFs or other heavy content displayed, just text.

[2016-04-09 23:57] gnanet commented on #374
On Ubuntu 12.04 the app.html wont load the messenger iframe :
[code]

But the referenced URL https://www.messenger.com/login works inside Chrome 49.0.2623.112 (64-bit)

[2016-04-10 00:15] gnanet commented on #373
Sorry to repoen this, but seems this currently happening already at loading the login screen. See my
[comment](https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/374#issuecomment-207888019) on #374

[2016-04-10 00:26] gnanet commented on #374
If the version of NW.js used with Facebook-Messenger-Desktop is not 0.13 then it should be upgraded. See:
https://github.com/nwjs/nw.js/issues/4017#issuecomment-201948373
https://github.com/popcorn-official/popcorn-desktop/issues/49

[2016-04-10 01:04] gnanet commented on #374
I can confirm building with nwjs 0.13.4 is the solution:

1. tried to start app
2. i copied the extracted contents (app.html app.js and so) on from /tmp/.com.google.Chrome..... into a folder
3. closed app
4. cd into the folder
5. started the app with /path/to/nw .
6. WORKS

[2016-04-10 02:47] Sheefou commented on #382
The programs essentially is a web browser so you are logging in to a web browser check http://messenger.com(the website the program runs off of) to see if you can actually use the default facebook messenger in the browser and ensure its not a problem with the program itself

[2016-04-10 09:41] erayerdin commented on #373
I think this bug (?) occurs time to time. However, it's not on Facebook Messenger software itself, it's about Messenger server. It occurs for a while and it goes, that's all.

[2016-04-10 11:52] gnanet commented on #373
The core of the issue is indeed SSL, but not at Messenger side, but, because of the fact, that the binary release of Facebook-Messenger-Desktop relies on an older version of NW.js, which does not support the right SSL protocol. If someone builds a binary with 0.13 NW.js or runs the app with that version, there seems to be no problems at all.

[2016-04-10 14:25] erayerdin commented on #373
So, I'm reopening this issue [due to the comment of gnanet in this issue](https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/373#issuecomment-207970558).

[2016-04-13 04:22] Sytten commented on #381
Normal behavior, NWJS doesnt support it

[2016-04-13 04:25] Sytten commented on #374
As said on the PR:
I totally agree, I was waiting for the new version to be released and supported by NWBuilder, after my exams I will update my fork!

[2016-04-13 17:35] granthgh commented on #364
You need to install desktop-file-utils before installing messenger for desktop on kubuntu.

From command prompt type: sudo apt-get install desktop-file-utils

Once that is completed messengerfordesktop should install.

[2016-04-13 20:51] jackwilsdon commented on #38
I'm having some issues with sending emoji on OS X El Capitan. I'm using version 1.4.7.

I can open the OS X emoji picker fine, but clicking on an emoji or hitting enter on one makes it appear for a split second in the field before vanishing.

I don't have the same problem with messenger.com

[2016-04-14 17:48] aanrudolph2 opened #385 "Right-click issues"
It appears that Messenger has its own JavaScript handler(s) for right-clicking. Unfortunately, when I right-click in the app, both the native menu appears AND the HTML DOM menu appears (in the webpage). Perhaps the native right-click should check for DOM events before firing (or disable it entirely in the main pane?)
![bugreport_1](https://cloud.githubusercontent.com/assets/11450146/14537979/88864

[2016-04-14 17:50] aanrudolph2 opened #386 "Check for Update Issue"
Affects v1.4.3: Right click > Check For Update brings up five consecutive dialogs saying "You're using the latest version: 1.4.3"

[2016-04-15 03:47] Sytten commented on #364
Thanks for the tip, I will add it to a tip list I'm trying to come up with ;)

[2016-04-15 03:51] Sytten commented on #386
If you want a most recent version check my fork, the dev is working on the newest version and hasnt updated this one.

[2016-04-15 03:52] Sytten commented on #385
Thats interesting, I will that a a look at it

[2016-04-16 11:10] nclm opened #387 "Oversized tray menu on high-DPI Windows"
I tried the application on a Windows 10 laptop with a high-DPI display. The contextual menu on the tray icon is oversized:

![Screenshot of a very big menu](https://cloud.githubusercontent.com/assets/923008/14580647/7e05126e-03d4-11e6-85be-3375a8d122d7.png)

The contextual menu in the app itself is fine.

[2016-04-16 17:56] nclm opened #388 "Undersized interface on high-DPI Linux"
On a Linux (Ubuntu Gnome) laptop with a high-DPI display, everything is two times too small. Here’s Messenger next to messenger.com in Firefox:

![Too small & Right size](https://cloud.githubusercontent.com/assets/923008/14582718/2ab61d2c-040d-11e6-9a23-c9baab7c8b5a.png)

Also, note the Unknown title in the top bar.

[2016-04-18 09:42] mizipzor commented on #175
I would really like to see this added, not having to constantly bring up the window to see if there are any new messages would be super useful.

[2016-04-20 00:10] DavidLKing opened #389 "CPU Core Wrecked"
At risk of this being a duplicate of this [post](https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/293), it appears Facebook-Messenger-Desktop has processes that are monopolizing a single core each on my machine.

I'm running Ubuntu 16.04 and 14.04 on two different machines and am getting the same behavior.
Both /opt/MessengerForDesktop/Messenger and /opt/self/exe are both grabbing 100%

[2016-04-20 00:23] DavidLKing commented on #389
Quite side note: I just noticed this does not occur when the application is minimized. Hope that helps!

[2016-04-20 05:24] shea-sollars commented on #313
Confirmed, notifications not working on Windows 10. I even tried forcing a notification in the developer tools, using the [Notification API](https://developer.mozilla.org/en-US/docs/Web/API/notification).

[2016-04-20 15:06] iliyang commented on #385
I'm having the same issue. Thanks for looking into it!

[2016-04-20 15:28] iliyang opened #390 "Unreliable taskbar and system tray indications for unread messeges"
I love this app, it's absolutely brilliant! But I have a small issue with notifications.

I'm running Windows 8.1 64-bit, and I'm seeing some weird behavior from the system tray and chat window title notifications for unread messages. Whenever I receive a new message:
1. The red dot that appears on top of the system tray icon flashes rapidly at some indeterminate rate.
2. The window title starts s

[2016-04-20 15:29] iliyang commented on #156
+1

It would be really awesome to have this app in a self-contained folder with all settings being written there.

[2016-04-21 15:43] iliyang commented on #156
Just noticed that Whatsie has a portable version!! It should be easy to port this functionality to Messenger, no?

[2016-04-23 00:02] gnanet opened #391 "MIT license permits, but prior purchase this license note cannot be read"
See here:
https://apps.ubuntu.com/cat/applications/messenger-desktop/

Also a user has raised voice about this: https://www.facebook.com/help/community/question/?id=10153462970561888

[2016-04-23 00:18] gnanet commented on #391
This guy keshavnrj@gmail.com seem to be a copycat who earns money by reusing free works
found his email here http://www.ktechpit.com/advertisement/

And proven that, he copies everything he can make money of:
His article: http://www.ktechpit.com/ubuntu/things-installing-ubuntu-16-04-lts-xenial-xerus/

The original article:
http://www.webupd8.org/2016/04/things-to-do-after-installing-ubuntu-1604-lt

[2016-04-23 00:22] gnanet commented on #391
found him
https://github.com/keshavbhatt?tab=repositories

[2016-04-23 20:44] raniesantos opened #393 ""Type a message" area bg color not changing in Mosaic and Dark theme."
The "Type a message" area (or div._4rv3) stays white when switching to the other two themes.
Using version 1.4.3 on Windows 7.

[2016-04-24 06:28] vikas-0 opened #394 "Add a RPM Package"

[2016-04-26 01:42] wdanilo commented on #393
+1 The same happens on linux. Usign dark theme I cannot see the letters when typing - both letters and backgroudn are white.

[2016-04-27 09:15] kchrysanthis commented on #393
same problem pls solution!!

[2016-04-27 10:47] thomn commented on #394
It's not documented, but `gulp pack linux{32|64}:rpm` will generate a RPM package.

[2016-04-29 15:40] nikolodien opened #395 "Multiple Instances of messenger are opened in Windows 8"
When you close messenger and open again, a new instance is created for it as can be seen in the screenshot below.

![multiplemessenger](https://cloud.githubusercontent.com/assets/1100734/14921223/b25133be-0df6-11e6-955b-826b72c5e8fe.png)

[2016-04-30 14:04] GianCastle opened #396 "Press ESC and close unexpectedly"
On ElementaryOS Freya x64, when i press ESC the program closes unexpectedly and i have to re-enter my credentials again.

[2016-04-30 16:29] endquote commented on #100
+1 to this... would be nice to be able to command+ and command- to adjust sizing.

[2016-04-30 17:11] Aluxian commented on #100
Have you tried those keyboard shortcuts? Please do and enjoy 😁

--
Alexandru Rosianu Full-Stack Developer aluxian.com | startersquad.com
On Sat, Apr 30, 2016 at 7:29 PM, Josh Santangelo < notifications@github.com [notifications@github.com] > wrote:
+1 to this... would be nice to be able to command+ and command- to adjust sizing.

—
You are receiving this because you authored the thread.
Reply to t

[2016-04-30 17:18] endquote commented on #100
Yes... they don't work for me. OS X 10.11.4.

[2016-04-30 17:27] Aluxian commented on #100
Oh... Sorry. I thought this was the repository for Whatsie. I've just realised it's the one for MFD 😑🙃

This should work in Whatsie. I am working on Messenger for Desktop 2, which will have this feature too (and many more). No ETA for now. Sorry again,  I'm very active working on Whatsie and when I got the email I didn't even look.

[2016-04-30 17:42] endquote commented on #100
Cool! Yeah I started using Whatsie as well and like it. Nice work.

[2016-05-01 06:56] jackmanganiello commented on #393
Same problem here as well. Windows 10 64bit

[2016-05-01 13:33] felipemfp commented on #380
On Ubuntu, notification are like that. At least, Spotify notifications is being blurred on mouse hover.

[2016-05-01 16:48] aleksandrmaksimoviclt commented on #380
@felipemfp This is rediculous.

[2016-05-01 16:48] #380 closed

[2016-05-02 18:56] ikishk commented on #319
I can confirm this behavior as well.  win7 x64.  after restart it no longer "flashes."

[2016-05-03 14:03] MaBeuLux88 commented on #393
Same problem on Debian with 64 bits deb file. I guess it's just an error in the CSS files.

[2016-05-03 15:35] zaratustra21 commented on #382
nodzy i  have the same issue. I don't want to activate facebook again so why is this happening? Did you make it work?

[2016-05-03 15:48] nodzy commented on #382
No, unfortunately not - it doesn't work for me.

2016-05-03 17:36 GMT+02:00 zaratustra21 <notifications@github.com>:

[2016-05-04 13:23] fihufil opened #397 "Package for Ubuntu Touch"
Ubuntu Touch is a young platform, which is basically Ubuntu for smartphones.
The platform support creating applications using HTML5 https://developer.ubuntu.com/en/phone/
And We as a community will appreciate your application to be available.
Although Ubuntu Touch is using Linux Kernel its NOT Android.

[2016-05-05 08:40] toralux commented on #253
I can confirm this is still a problem in May 2016. As emoticons picks up and get more and more important on phones, also desktop should support them just as easily when the OS support it (as OS X does with Cmd+Ctrl+Space).

[2016-05-08 13:46] Miionu opened #398 "Can't see typing text when i change the Theme."
See below images from my computer :

![darktheme](https://cloud.githubusercontent.com/assets/17688475/15098105/d64cdf7c-1533-11e6-9da8-4a89115a3089.PNG) DARK THEME

![defaulttheme](https://cloud.githubusercontent.com/assets/17688475/15098106/d64d5e34-1533-11e6-93e6-0038919fc38f.PNG) DEFAULT THEME

I don't really know how to change that definitively (i'm not a pro in programming ^^)
But i think it

[2016-05-08 21:07] Shadowfire2303 commented on #393
Same issue here. I was able to change the values of the background color of the box, however the effect is only temporary.

[2016-05-09 01:48] jacksparser opened #399 "[Windows] Session still logged in when uninstalling then reinstalling"
OS: Windows 10 Build 10586.218
Procedure:
1. Login to Messenger for Desktop
2. Exit the app
3. Uninstall
4. Reinstall
5. Run the app

Expected Result:
1. App is opened in login screen

Actual Result:
1. Previous account is still logged in

[2016-05-09 06:16] DotTheI opened #400 "Title bar"
Currently the title bar looks like this:
![2016-05-09 9 11 04](https://cloud.githubusercontent.com/assets/10737439/15105003/e53b4a1e-15ce-11e6-820a-ca91e1f17a0f.png)
Would love to see the title bar gone so that it looks like this (taken from Goofy):
![2016-05-09 9 10 28](https://cloud.githubusercontent.com/assets/10737439/15105019/fb146f8c-15ce-11e6-9ca7-2414cba3353c.png)

Also the window can be r

[2016-05-09 07:14] siimr commented on #398
I just made my own fix for this. Dark theme and Mosaic theme inputs have been fixed in this zip. Just unpack and open.
https://drive.google.com/file/d/0B4QRd95ZH77ccFZMRnpPSktWXzg/view?usp=sharing

[2016-05-09 07:15] siimr commented on #393
I fixed it, but only for windows:
https://drive.google.com/file/d/0B4QRd95ZH77ccFZMRnpPSktWXzg/view?usp=sharing

[2016-05-09 17:13] barbushin commented on #389
Same problem in Win 10x64. Using 1.4.3 version. If Messenger is not minimized, it's always using 10-15% of my Intel i7 CPU. May be it's because of some GIF stickers are played in background? Anyway, there is screenshot of Dev Tools Profile tab.

![image](https://cloud.githubusercontent.com/assets/683352/15121257/42a0b70c-164c-11e6-95cd-d857953e20c6.png)

[2016-05-09 17:14] barbushin commented on #293
Same problem in Win 10x64. Using 1.4.3 version. If Messenger is not minimized, it's always using 10-15% of my Intel i7 CPU. May be it's because of some GIF stickers are played in background? Anyway, there is screenshot of Dev Tools Profile tab.

![image](https://cloud.githubusercontent.com/assets/683352/15121257/42a0b70c-164c-11e6-95cd-d857953e20c6.png)

[2016-05-09 19:50] wdanilo commented on #393
@siimr Could you make a normal pull request and fix it on other platforms too? It should not be complicated if it already works on Windows! :)

[2016-05-10 03:28] kdrewgonzales opened #401 "Windows 10 Task kill"
When I close messenger for desktop on windows ten, the task is still running in the task manager. For me to re-open Messenger, I have to kill the task from my task manager, then it'll re open. But If I close it, then try to open it again from my start menu, Messenger won't open.

[2016-05-10 22:19] nevercast commented on #382
I've attempted this also. Even if you create a "Messenger only" account with your phone number, you cannot login to the messenger.com/ service with it.

It requires you've a Facebook account, Messenger only accounts are not available outside of Mobile.

[2016-05-10 22:21] nevercast commented on #383
Another viable option is using someone like CloudFlare. They'll cache your traffic and encrypt free of charge. Provided you fall under their bandwidth constraints. As the downloads are over Github I'd hope you'd not have a problem. (With that said, I am not aware of how much bandwidth you use)

[2016-05-10 23:21] nevercast commented on #344
@Aluxian made a small commit recently. Hopefully development is moving again.

If not, perhaps it should be raised that someone take Contributor access of the project to handle fixes.

[2016-05-11 15:22] hiuwo opened #403 "Request: Make text bigger and smaller"
On my retina iMac's screen, I have the resolution down a notch, I like the other apps and webpages occupying the screen but texts small, and Facebook messenger has very big texts.

It would be really really nice to have the option to change the text sizes. Thanks!

[2016-05-11 21:56] iwakoscott opened #404 "Stuck on loading screen?"
I download the Linux-64 version off the main website however after running the installation and I run messenger application it is stuck on the loading screen:
![facebook](https://cloud.githubusercontent.com/assets/13685868/15197827/720558a8-1788-11e6-8324-e5566fbfe8ff.png)

I have tried killing it then rebooting and starting the app again. I also tried removing it and reinstalling it and I get the

[2016-05-12 08:05] sarthak-0415 opened #405 "Request: [A default home screen]"
Right now on pressing escape it closes the application which is a little problematic.

There can be a feature which loads a default home screen on pressing escape button and closes the window using the usual close button

[2016-05-12 12:56] Sytten commented on #344
The software is being rewritten. Be patient and meanwhile help my fork instead!

[2016-05-12 12:57] Sytten commented on #396
Handled in my fork

[2016-05-12 12:57] Sytten commented on #395
Handled in my fork

[2016-05-12 12:58] Sytten commented on #394
Check my fork

[2016-05-12 12:59] Sytten commented on #393
Problem solved in my fork

[2016-05-12 13:03] Sytten commented on #404
Whats your OS? Can you get me the debug log?
I will try to fix it on my fork...

[2016-05-12 13:03] Sytten commented on #400
Handled in my fork

[2016-05-12 13:06] Sytten commented on #399
Its a known bug, will try to fix it on my fork

[2016-05-12 13:10] DotTheI commented on #400
@Sytten Just installed 1.4.7. The title bar is there as well. Am I missing something?

[2016-05-12 13:11] Sytten commented on #400
Was talking about your second point. The first point is impossible to do with the current framework...

[2016-05-12 13:11] MaBeuLux88 commented on #393
Thanks @Sytten. Moved to your version until the pending PRs are integrated here.

[2016-05-12 13:13] Sytten commented on #393
They wont be ;) As said many time the program is being rewritten by the dev, but its painfully slow...

[2016-05-12 13:16] Sytten commented on #397
Hum, maybe thats possible, but it will need a lot of work. We should probably wait for the need version of the program based on Electron before doing that move...

[2016-05-12 13:17] Sytten commented on #405
Escape actually closes the window, not the application.

[2016-05-12 13:38] nevercast commented on #344
Is your fork going to be mainlined? Do the builds currently come from your fork?

[2016-05-12 14:03] sarthak-0415 commented on #405
In linux it actually closes the application

[2016-05-12 14:46] wdanilo commented on #393
Oh so the application is being rewritten slowly and bugs with obvious fixes are not getting merged? Great! Keep it this way. Ok, I'm out of this.

[2016-05-13 03:25] Sytten commented on #393
Well thats why you should come over to my fork :p

[2016-05-13 03:26] Sytten commented on #405
Yea, fixed in my fork

[2016-05-13 03:29] Sytten commented on #344
Well I had a rough semester, but I should be able to do a release soon. Latest is quite old I noticed, but I had trouble updating the dependencies to NW.JS 0.14.0 and had no time to work on it. All help would be appreciated.

[2016-05-13 04:07] iwakoscott commented on #404
I am not too familiar with how to send you the debug log for my problem. Could you please guide me in the right direction?

[2016-05-13 14:27] Miionu commented on #398
Oh perfect ! Thank you very much :) Great work

[2016-05-13 17:05] Sytten commented on #404
You can right click to launch dev tools and give me the ouput.
Another option would be to launch the program from command line and check the ouput.

[2016-05-13 20:57] iwakoscott commented on #404
![error](https://cloud.githubusercontent.com/assets/13685868/15261663/a60e6e42-1912-11e6-814c-1ac40e41fd18.png)

[2016-05-14 02:09] nevercast commented on #344
I hear what you're saying, and I'd be happy to help your fork. But unless you're recognized by http://messengerfordesktop.com , your releases will be out of reach from the userbase. Hence why @Aluxian would need to setup automatic builds and provide a contributor to accept pull requests.

[2016-05-14 05:19] Aluxian opened #407 "[Call for mighty developers] Looking for Maintainers"
Hello, everyone.

I know I've been inactive for a very very long time, and I'm deeply sorry. Knowing I wouldn't have the time to maintain the app appropriately, I should've let someone else maintain the repo. I regret being fooled by time, periclitating the future of MFD this way.

Now, knowing that in the following 2 months I won't have enough time for MFD again, I realise the best thing to do wo

[2016-05-14 05:44] Aluxian commented on #407
Nominees:
- [ ] Émile Fugulin @Sytten
- [ ] Josh Lloyd @nevercast

[2016-05-14 05:52] nevercast commented on #407
I primarily nominate @Sytten as he has already put in a lot of effort in maintaining this project in his own fork and seems quite active on Gitter.

However secondly of course, I'd be more than happy to maintain MFD. Preferably with @Sytten unless for some reason he wouldn't want to maintain this project.

Thanks for all your hard work, @Aluxian

[2016-05-14 09:58] cassiodoroVicinetti commented on #407
I nominate @Sytten too.

[2016-05-15 17:05] Sytten commented on #407
Thanks guys!
I would more than happy to maintain this application with @nevercast. I know I cant do it alone anyway (being a full-time student myself).
Al lot of new fixes are ready to be released, and I had planned to work on bug fix today.

@cassiodoroVicinetti your help will always be appreciated!

[2016-05-15 17:06] Sytten commented on #404
Than you, we will look at that!

[2016-05-16 00:53] nevercast commented on #404
Hi @iwakoscott
Can you confirm this is still an issue, I'd like to eliminate that it was a temporary server issue.
Thanks.

[2016-05-16 00:54] nevercast opened #409 "ESC closes whole window when photo viewer is active"
When viewing an image, ESC will close the whole window, not just the modal overlay.

ESC should check if an image is being viewed, and if so, do nothing.

[2016-05-16 01:28] Sytten commented on #409
I fixed it ;)

[2016-05-16 01:35] nevercast commented on #409
Yes I just noticed it was fixed in 1.4.7 ;)

[2016-05-16 01:35] #409 closed

[2016-05-16 02:43] iwakoscott commented on #404
@nevercast I can confirm that this is still an issue! I am still stuck on an infinite loading screen and yes that is a funny coincidence.

[2016-05-16 02:46] nevercast commented on #404
I wonder if the SSL error is of significance. Can you check the Network log in the Dev Tools debugger?
Also are you able to access https://www.messenger.com/ ?

[2016-05-16 02:59] Sytten commented on #404
This is not the only person who reported problem with ssl https://github.com/Sytten/Facebook-Messenger-Desktop/issues/23

[2016-05-16 03:36] Sytten commented on #391
We will look at this very closely. Thank you very much for your search, I will talk to @Aluxian and @nevercast about it.

[2016-05-16 08:19] Aluxian commented on #391
Oh wow @gnanet, splendid investigation! Thanks for reporting this issue. I'll try to report his app in Ubuntu's apps directory and get it removed.

[2016-05-16 08:25] Aluxian commented on #407
@Sytten

Regarding Franz, I think we're at an advantage with the app name and the domain (we're more "discoverable"). I personally don't like the idea of having an all-in-one app, so MFD and Whatsie will target those users who, like me, prefer separate apps (but not only those).

See the discussion on Gitter regarding MFD 2.

[2016-05-16 08:28] nevercast commented on #391
In my experience, Ubuntu have been pretty reasonable with getting stuff taken down. So I hope this is speedy.

[2016-05-16 10:00] cryoff opened #410 "Taskbar placement in Xfce"
I have the following issue. The entry for Messenger moves in the taskbar panel of Xfce whenever the new message arrives. It is quite weird behavior which seemingly has something to do with notifications but I could not find how to change that.
The entity in the taskbar constantly "jumps" from the first position to its real position.

[2016-05-16 12:44] Sytten commented on #410
It is quite possible that its an issue with your taskbar system. The implementation of NW.JS (GTK) isnt always working great with different systems. Will need further investigation.

[2016-05-16 21:21] efournival commented on #388
You can edit /usr/share/applications (under root) and replace the `Exec=` line by this:
[code]

[2016-05-16 22:18] MarcinWieczorek commented on #407
I'm happy to see the project is alive again!
I'm waiting for new versions for my messengerfordesktop-git ArchLinux package

[2016-05-16 22:28] nevercast commented on #407
@MarcinWieczorek We are currently moving the project to an updated version of nwjs. But after this is done, we should have working Linux builds for Deb at least, from that point I'd be more than happy to work with you ensuring it works on Arch.

[2016-05-16 22:34] MarcinWieczorek commented on #407
You can count on me.
marcin@marcin.co is my email :)

[2016-05-16 22:35] nevercast opened #411 "NWJS 0.13 Adds Window persistence."
- There is an id to identify each window. This will be used to remember the size and position of the window and restore that geometry when a window with the same id is later opened. It could be specified in Window.open or id of window subfields in manifest

http://docs.nwjs.io/en/latest/For%20Users/Migration/From%200.12%20to%200.13/

Consider removing our own settings implementation.

[2016-05-16 23:48] nevercast opened #412 "Context Menu shows up in incorrect position"
On Windows, the context menu shows up in the wrong place.
Perhaps incorrect parent window context?

[2016-05-16 23:49] nevercast opened #413 "DevTools seems jailed, no components."
With 0.13 and 0.14 of nwjs, It now uses Chrome Extensions. This change has caused require() to work differently. `components/*` has since disappeared from DevTools.

I'd like it to come back.

[2016-05-17 00:07] nevercast commented on #412
When running in Mixed Context mode. This is not an issue. Will investigate further.

[2016-05-17 02:37] Sytten opened #415 "Deprecated dependencies"
NPM complains about a deprecated graceful-fs dependency.

[2016-05-17 03:06] Sytten opened #416 "Cant uncheck MenuItem with code on linux"
Its working great on Windows, but not on linux.

![screenshot from 2016-05-16 22 10 48](https://cloud.githubusercontent.com/assets/2366731/15310092/b4b75468-1bba-11e6-8fba-6b69a187e774.png)

[2016-05-17 03:40] nevercast commented on #416
I believe you said you wanted this one, so I've assigned you. Feel free to assign me if you've not the time.

[2016-05-17 03:51] nevercast commented on #415
Doesn't matter until we hit node.js >= 7.0
Here is the tree that is using graceful-fs < 4.x

[code]

I can probably update nw-builder to use version 4. I cannot update glob to use a version higher than `1.2.3`.

For now, this is going to be Backlogged almost indefinitely because someone will fix it before we do, keeping it open for occasional checking though.

[2016-05-17 04:03] nevercast commented on #411
I'm going to focus on getting our settings implementation to work since it's used for more than just window locations.

They are currently broken due to cross-context manipulation.

[2016-05-17 04:04] nevercast commented on #407
@Aluxian I'll let you decide when there is enough maintainers, but close when you feel we're at that stage :)

[2016-05-17 04:06] nevercast commented on #405
Hello @sarthak-0415

@Sytten and I have recently taken over this project. We've a new release planned for this week. Your issue with regarding escape closing the application will be bundled in that fix.

[2016-05-17 04:07] nevercast commented on #401
Messenger should minimize to the tray. Can you check that works.

[2016-05-17 05:09] Aluxian commented on #415
I agree, it's not a big deal and not worth focusing on for now.

--
Alexandru Rosianu Full-Stack Developer aluxian.com | startersquad.com On Tue, May 17, 2016 at 6:51 AM, Josh Lloyd < notifications@github.com [notifications@github.com] > wrote:
Doesn't matter until we hit node.js >= 7.0
Here is the tree that is using graceful-fs < 4.x

+-- gulp@3.9.1
| +-- vinyl-fs@0.3.14
|   +-- glob-watcher@0.0.

[2016-05-17 10:34] 19darion91 opened #417 "Bug in the dark theme bubble"
So when I put the Dark theme, the message bubble stays white... with white text as I type so I can't see what I'm typing.
This is on Ubuntu Mate 16.04
![untitled](https://cloud.githubusercontent.com/assets/7683375/15319692/10460c7a-1c24-11e6-8c06-7ac0a4d5ca84.png)
 (It says Hello)

[2016-05-17 17:06] Eons-coding commented on #417
Same on Linux Mint DE, it's quite problematic since the white theme litteraly blind me ^^

[2016-05-17 20:53] kdrewgonzales commented on #401
I'm on windows 10, version 1511?. Buildl 10586.318 and it doesn't minimize.

[2016-05-17 21:27] Sytten commented on #415
Good issue done

[2016-05-17 21:29] Sytten commented on #416
I will try to fix it, but feel free to have a look (on linux :P)

[2016-05-17 21:32] Sytten commented on #417
This will be fixed in the new release coming very shortly!
As you probably seen, me and @nevercast are now official maintainers.

[2016-05-17 21:34] Sytten commented on #399
Should be fixed by https://github.com/Aluxian/Facebook-Messenger-Desktop/commit/e0bc24621633bdb7fe2349d6f96211f04dd0d457

[2016-05-17 21:35] Sytten commented on #397
EDIT: That wont be done

[2016-05-17 21:35] #397 closed

[2016-05-17 21:36] Sytten commented on #394
The new official release will have RPM builds, thanks for your patience

[2016-05-17 21:37] Sytten commented on #393
This issue is resolved in the upcoming official release.

[2016-05-17 21:38] Sytten commented on #389
Should be resolved in the next release

[2016-05-17 21:38] #386 closed

[2016-05-17 21:39] Sytten commented on #385
@nevercast That is something that should be handle eventually...

[2016-05-17 21:41] Sytten commented on #390
@nevercast Do we fix that?

[2016-05-17 21:42] Sytten commented on #400
@nevercast If you agree its a wontfix for me

[2016-05-17 21:43] Sytten commented on #395
The next official release will resolve it.

[2016-05-17 21:43] Sytten commented on #398
The next official release will fix this.

[2016-05-18 00:02] nevercast commented on #390
This is also a feature request.

[2016-05-18 00:02] nevercast commented on #390
I will look in to this :) But it wont be in the next release.

[2016-05-18 00:03] nevercast commented on #385
Yes this gets me often too. We will fix this.

[2016-05-18 00:07] nevercast commented on #416
I'll install a virtual machine.

[2016-05-18 00:08] nevercast commented on #415
I just ask that we keep this open, as it's not actually fixed, although it's not our issue we should keep an eye on it incase it causes an issue in the future.

[2016-05-18 00:09] nevercast commented on #401
I cannot replicate this with the current development version, so I can predict that it'll be fixed in the next release. I'll keep this issue open and check back with you after the next release. Thanks for the report.

[2016-05-18 00:14] nevercast opened #418 "Messenger title is nwjs on OSX"
![](https://cloud.githubusercontent.com/assets/1418870/15323963/14cc6b76-1c4d-11e6-9bd8-16c3956b7247.png)

[2016-05-18 00:15] nevercast opened #419 "Make "Close with ESC" default to False"
Per the title.

Those that prefer the feature are a minority. https://github.com/Aluxian/Facebook-Messenger-Desktop/pull/414#issuecomment-219719833

[2016-05-18 00:17] nevercast opened #420 "Split menu in to submenus."
Either we have Sub menu item components like Theme, or we have multiple menus on the titlebar.

But the menu is getting rather long.

[2016-05-18 00:21] nevercast commented on #412
This was meant to be fixed by https://github.com/Aluxian/Facebook-Messenger-Desktop/commit/748f8dfeafdf5d8fb1c44a482fc0e37c20e79ebd however it seems still be an issue on OSX https://github.com/Aluxian/Facebook-Messenger-Desktop/pull/414#issuecomment-219719833

[2016-05-18 00:23] nevercast commented on #400
I'll mark this as investigation for now with no milestone. It looks like it's currently not achievable with the current framework. But I wont rule it out without checking first.

[2016-05-18 02:29] Sytten commented on #415
Ok ok perfect

[2016-05-18 02:31] Sytten commented on #385
Should we put the delete in the context menu or just forget about that context menu. I actually find it quite useless and I would personally prefer something like:
Delete
Copy
Paste

[2016-05-18 04:07] Aluxian commented on #400
It's possible with Electron, but it should be a setting, disabled by default.

[2016-05-18 04:08] Sytten commented on #419
Done https://github.com/Aluxian/Facebook-Messenger-Desktop/commit/cc8f216fa606b9ee41cb81b0c95dc2de2b5a0b44

[2016-05-18 04:32] Sytten opened #421 "Notifications are not showing up on linux"
We are suppose to have removed the native notifications for the Chrome notifications, but their are not showing up on linux.
Their is only the odd blinking icon (we should avoir blinking too, that would be great).

[2016-05-18 06:06] legendaris commented on #417
I have the same issue in Windows 10

[2016-05-18 07:46] 19darion91 commented on #417
Sytten, I just installed your fork and it works perfectly. The thing that can be improved is the dark theme to use the default chat bubble settings, that will give it the ability to change chat color. Basically the same option that this team has https://userstyles.org/styles/122582/dark-facebook-messenger-fully-black (I've been using it for a while in windows 10 as a chrome desktop app with this t

[2016-05-18 12:33] Aluxian commented on #407
I think you two are enough for now.

@MarcinWieczorek If you want to help (we'd really appreciate it!) just chat to us on Gitter and see what issues you can work on or whatever you can do to help MFD.

[2016-05-18 15:01] Sytten commented on #417
I will take a look at it. Thanks. Keep an eye on this Repo, we will soon release a new official release with a LOT of bug fixing!

[2016-05-18 19:45] nevercast commented on #421
I made no changes to notifications in the source. But they have changed with the new version of nwjs.

Being a Chrome App now, we no longer have access to Native notifications. With that said, it doesn't HAVE to be that way. We can depend on a library on the Node.JS side and create native notifications that way.

Thoughts?

[2016-05-18 19:48] nevercast commented on #385
I actually somewhat agree with you. Removing the context menu would also save me having to resolve the popup location on OSX ;)

@Aluxian Is the context-menu strongly desired by the user base?

[2016-05-18 20:11] Aluxian commented on #385
I agree on finding a better alternative.

I don't think so. In fact, many users don't even know or think about it, so those features remain hidden from them.

--
Alexandru Rosianu Full-Stack Developer aluxian.com | startersquad.com On Wed, May 18, 2016 at 10:48 PM, Josh Lloyd < notifications@github.com [notifications@github.com] > wrote:
I actually somewhat agree with you. Removing the context men

[2016-05-18 20:48] nevercast commented on #385
@Sytten What do you think about removing the context menu for the next release and then adding it back maybe in the future once we've found a better solution? I guess we still want Copy/Paste functionality. I don't know if we have Paste at the moment, but Copy already checks for a selection of text so that won't be an issue.

If there is no items on the menu, we wont show it.
Thoughts?

[2016-05-18 21:45] nevercast commented on #385
We can check if the Delete menu is present with `body div.uiContextualLayerPositioner.uiLayer` selector. We do have to delay the handler in menus.js for 100ms though because React takes some time to resolve.

But I think for now it's maybe better to get rid of the context menu. Do we keep the native nwjs one or hide that too?

[2016-05-19 03:34] Aluxian commented on #385
Hmm so there are 3 context menus? The one from Messenger, the one we implemented, and the nwjs default? I'd say we should keep just the one from Messenger.

[2016-05-19 08:02] cryoff commented on #410
Can I provide any valuable information for further investigation?

[2016-05-19 19:42] Sytten commented on #410
@nevercast Have any idea?

[2016-05-19 19:44] Sytten commented on #385
Hey, sry didn't have time to replay faster.
Yes I agree we remove the current context menu and we find a better solution for the next releases.
Copy and Paste works with shortcuts, but I like to have them also in a context menu (not that necessary)...

[2016-05-19 19:47] Sytten commented on #421
Chrome notifications are nice, if we can make them work that would be good for the current release.
Native notifications are sometime better, but not always. I would not bother investigating that way though.

[2016-05-20 10:15] ichbinsteffen commented on #365
+1
Makes it unusable right now.
I did go into fullscreen at home in 1920x1080 and opened Messenger somewhere else, where it started as fullscreen app for 1920x1080. Unable to see the bottom. Unable to resize it in any way.
The app shouldn't start in the last used View-container!

[2016-05-20 11:14] kasalolek opened #422 "I cant find option to change theme"
In linux version ther is no option to change theme to dark

[2016-05-21 07:58] nevercast commented on #410
Could be related to the linux icon blinking bug. Perhaps we should fix that and see if this one is resolved in the process

[2016-05-21 15:43] akolpakov19 opened #423 "Virustotal finds an adware"
During the analyzing of the messenger installer virustotal.com finds and adware  	**Adware.AddLyrics.Win32.8327**
Screenshot attached
![messanger_virus](https://cloud.githubusercontent.com/assets/10233620/15449349/50e02cf2-1f7b-11e6-9356-b869551fa27e.JPG)

[2016-05-21 15:46] rikai commented on #421
I will say that as a user, at least on windows, i would much prefer chrome notifications, because the notification system in windows is ugly and leaves a lot to be desired functionality-wise.

On other platforms, i would likely prefer native notifications for integration reasons(mac, Notification Center) or extensibility reasons(linux, inline replies in notifications(!?)) , so perhaps in a later r

[2016-05-22 03:33] Aluxian commented on #391
@gnanet How do you know he used my app and not another codebase?

I was just writing the email to Ubuntu and then I took a closer look at the screenshots and I thought about this.

[2016-05-22 08:44] nevercast commented on #423
AddLyrics installs itself as a Chrome Extension. There is likely similar boilerplate code as MFD is a Chrome Application.

Zillya probably uses some poor heuristics. Thanks for letting us know, @akolpakov19

[2016-05-22 09:00] akolpakov19 commented on #423
Ok, I see, thank you @nevercast  for the quick reply.

[2016-05-22 09:47] gnanet commented on #391
Because i raised the issue, we can check best if i get the app, that pair of bucks will not hurt anymore.

For me the thing is, it looks too similar to be different, and i did not found much other solutions like yours, also his statements how it is done (nwjs) and the fact that i found traces that he copies also publications without declaring source led me to that conlclusion.

[2016-05-22 13:40] gameslayer opened #424 "Facebook messenger PPA?"
Can we get a PPA for Linux? this will be a lot easier and a better solution for app updates on Linux.

[2016-05-22 14:54] Aluxian commented on #424
Messenger for Desktop 2 will have one for sure.

--
Alexandru Rosianu Full-Stack Developer aluxian.com | startersquad.com On Sun, May 22, 2016 at 4:40 PM, gameslayer < notifications@github.com [notifications@github.com] > wrote:
Can we get a PPA for Linux? this will be a lot easier and a better solution for app updates on Linux.

—
You are receiving this because you are subscribed to this thread.

[2016-05-22 15:01] gameslayer commented on #424
Awesome! let me know when you make one I do want to add this to the store I am making for Linux

http://cdfrosty.wix.com/store

[2016-05-23 00:31] gnanet commented on #391
I kept my word:

1. I paid for it, Ubuntu software center was unable to download/install the stuff.
2. I fished out the authenticated link from my syslog, and downloaded the package, the tar.xz and the dsc.

I extracted the application from the DEB, and started it manually, and first thing is **It is unable to connect to the messenger website** :
./messenger-ubuntu-desktop
[code]

So where shall i

[2016-05-23 00:50] gnanet commented on #391
The first lines of **app.html** says a lot:
[code]

[2016-05-23 01:04] gnanet commented on #391
Anyway from view of a USER i could not find a place where i could access the MIT license, or any other license, but the structure and most parts of code seem to resemble the Facebook/Whatsapp codebase i have seen here, for example the context menu is suspicious:

- Reload
- Open Links in the Browser
- Launch on Startup (with lanucher name: 'Unofficial WhatsApp' .... no comment)
- Check for Update

[2016-05-23 05:59] Aluxian commented on #391
I'd ask you to send me the deb but I believe that's against Ubuntu's terms of service. Can you show me the folder structure in the deb? I.e. the folders and the files in them.

[2016-05-23 09:23] gnanet commented on #391
I ask myself if sharing the content of /tmp which is not the content of the DEB  i purchased, would violate any terms?

But without sharing the content, i still could give you a complete folder and file list with SHA checksums of the files from the /tmp, which would at least give insight about what was 100% copied, and which files are used if they differ but essentially indicating that it is a cop

[2016-05-23 09:47] gnanet commented on #391
I found out, that both Messenger and WhatsApp are based on your nwjs-starter so i made also a compare there, result:

[code]

[2016-05-23 19:54] Majki commented on #424
Woot Any more details about that?

[2016-05-23 19:58] Aluxian commented on #424
It'll run on Electron, it'll have more features, it'll consume less battery. :)

--
Alexandru Rosianu Full-Stack Developer aluxian.com | startersquad.com On Mon, May 23, 2016 at 10:54 PM, Majki < notifications@github.com [notifications@github.com] > wrote:
Messenger for Desktop 2

Woot Any more details about that?

—
You are receiving this because you commented.
Reply to this email directly or vie

[2016-05-24 02:07] anmcloughlin commented on #100
Seconding the request! This is important from an accessibility perspective.

[2016-05-24 13:09] Sytten commented on #391
Thats really suspicious... I think we have a pretty good case against this app to report it.

[2016-05-24 13:15] Sytten commented on #421
I totally agree with you! We will do our best to provide that feature :)

[2016-05-24 13:16] Sytten commented on #410
Maybe...

[2016-05-24 19:09] Sunderfield commented on #422
Options menu appears when you right click the messenger icon in your taskbar.

[2016-05-25 01:49] gnanet commented on #391
If there is a possibility to look for other apps of the same developer on SoftwareCenter i suggest to check if he also done same with WhatsApp for desktop

[2016-05-26 09:07] 19darion91 commented on #424
I know that it is "rude" to ask. But any e.t.a. for Messenger for Desktop 2?

[2016-05-26 09:40] 19darion91 opened #425 "How to"
@Sytten for what I can see in the Issue part for this app, there is a version 1.4.8 and 1.4.9 around. How can I install them and where to get them. When I download the Aluxian app from the web page it is version 1.4.3 and your fork is version 1.4.7 when downloaded from your page. And pls. don't tell me to build it... :D For some reason I'm having an extremely hard time setting up gulp in windows.

[2016-05-26 11:14] gameslayer commented on #424
When does facebook messenger 2 come out? I also have a question what exe process on messenger?

[2016-05-26 16:00] cabban opened #426 "many issues with dark themes"
love this apllication, but many many issues with the black theme windows , wrong color on many places cant see text etc
hope u fix this _=)  need white text and sub bar black or with anyway black text color , now its white on white

![3](https://cloud.githubusercontent.com/assets/19514493/15581180/9f2a6dc0-236b-11e6-8972-6ab21c52994c.jpg)
![2](https://cloud.githubusercontent.com/assets/19514493/15

[2016-05-26 20:49] zatherz commented on #422
The menu didn't appear for me when I right clicked the icon in the task bar (only the DE's standard context menu appeared), but it did work when I right clicked inside the program.

[2016-05-26 22:00] Felluz commented on #426
I agree, had to use default theme cause of this...sad..hope get fix soon!!!

[2016-05-27 02:34] Sytten commented on #425
V1.4.8 is a milestone, that means its being currently developed and it will be release soon. My goal is to release V1.4.8 next week if we can tweak some remaining details.
Dont worry we will make builds for everyone when its ready :)

[2016-05-28 10:06] ethannu commented on #426
I am using autohide menu. When hovering over menu, selected friend and search bar are transparent.
Issue is not affecting default theme.

![msgscreen](https://cloud.githubusercontent.com/assets/10129507/15626706/74953f4c-24cc-11e6-9493-ae0d69090d2d.png)

[2016-05-28 18:30] pyrforos commented on #296
so i'm  on plasma  5.5.5 .Still no  system stray  icon with the official version. With  the  test release i  have the tray icon  but  just like  the one of  cassiodoroVicinetti ... All the proposed packages installed... Its not really  a problem  but when i  have a new message, the icon doesn't change at all because its too  big to  be seen . Any  solution ?

[2016-05-28 18:37] cassiodoroVicinetti commented on #296
@pyrforos Try this workaround: https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/296#issuecomment-168990541

[2016-05-28 18:41] pyrforos commented on #296
unbelievable!!! all this time wasn't working  because the path  was "/opt/MessengerForDesktop/Messenger" instead of "/opt/MessengerForDesktop" im so dump ...

[2016-05-28 19:13] cassiodoroVicinetti commented on #296
Mmm no, I think you did not understand the workaround. Are you using `XDG_CURRENT_DESKTOP=Unity`?

[2016-05-28 19:46] pyrforos commented on #296
yes yes i  did understand it . But now there is something strange going on... With  the parameter env XDG_CURRENT_DESKTOP=Unity  i have the icon but the cpu  usage is very high for some reason...  (plasmashell process is at 30%!!! ) without the parameter tray icon not ok but my  cpu usage is at normal levels (all these with  the test release .. with the official there is no tray icon)

[2016-05-28 19:52] cassiodoroVicinetti commented on #296
Try `env XDG_CURRENT_DESKTOP=GNOME`

[2016-05-28 19:55] pyrforos commented on #296
same...

[2016-05-28 20:51] cassiodoroVicinetti commented on #296
There are a lot of issues about the CPU usage:
https://github.com/Aluxian/Facebook-Messenger-Desktop/issues?q=CPU
https://github.com/Sytten/Facebook-Messenger-Desktop/issues?q=CPU

It's not clear to me whether the CPU issue is related to the tray icon issue.

I'm using Debian with Plasma 5.4.3 and with `env XDG_CURRENT_DESKTOP=GNOME`. In my system the CPU usage of Messenger does not exceed 2.9%:

[2016-05-29 10:44] pyrforos commented on #296
now something  strange...
when i  run it  from kosnole i  get `messengerfordesktop
[7796:0529/134103:ERROR:browser_main_loop.cc(170)] Running without the SUID sandbox! See https://code.google.com/p/chromium/wiki/LinuxSUIDSandboxDevelopment for more information on developing with the sandbox on.
pyrforos@fox3:~$ [7814:0529/134103:WARNING:file_descriptor_set_posix.cc(30)] FileDescriptorSet destroyed

[2016-05-29 13:01] cassiodoroVicinetti commented on #296
If it can help, when I run it from konsole I get:

[code]

[code]

[2016-05-30 08:00] borgand opened #427 "OS X: Portrait external monitor and Window placement"
I have multiple external monitors on my MacBook Pro (**OS X 10.11.5**), one in landscape and other in portrait and usually the lid is closed.

When I use Messenger on the non-primary external monitor (portrait) and then disconnect the monitors, all other application's windows are gathered to the MacBook Pro's internal display, but not the Messenger.
When I use Exposé to see all windows, I see the

[2016-05-30 09:38] 19darion91 commented on #425
Ok, thanks! One more question, will the update be available in your fork or in Aluxian's veriosn?

[2016-05-30 17:04] Aluxian opened #428 "MFD doesn't allow me to paste links"
Received by email from Eric.

[2016-05-30 18:03] Sytten commented on #425
They will be available in both :)

[2016-05-30 22:37] destinyshihn commented on #349
@Sytten Hello, sorry to bother you about this but while your dark theme fix for the messenger app works, it does not support the different color theme Facebook allows for chats, e.g if I set my chat color to say, purple, from my phone, it doens't show as such while using the dark theme, though it shows in both normal and mosaic theme. Is there a way to fix it?

[2016-05-31 06:28] alexghi commented on #349
@destinyshihn Basically what you have to do is click on the i (information) button in the right top corner and there you have the option you're looking for.
You can also compile my fork which also supports dark theme, and chat color options.
You only need to compile it for your OS.
https://github.com/alexghi/Facebook-Messenger-Desktop

[2016-05-31 08:28] tristankhalil commented on #426
Please fix! I wanted to use the dark/mosaic themes but I can't read what I'm typing so I always switch back to the default theme :(

![screenshot_14 png 429x677](https://cloud.githubusercontent.com/assets/12205893/15668203/9c36f7e8-274c-11e6-9ecd-8871c841d5e0.png)

[2016-05-31 10:01] destinyshihn commented on #349
@alexghi I know the option is here, when I use it the color still shows blue, that's what I meant, whereas when in normal and mosaic theme it shows the color I actually selected.

[2016-06-01 13:12] Musaka96 opened #429 "Control + Backspace"
Using Control + Backspace deletes the whole word as expected, but it wont delete the space, so u cant use it to quickly delete a couple of words or the whole thing. It not that i can use PgUp and PgDn, its just that it bugs me cuz i use Ctrl.

[2016-06-02 08:44] adrianblp opened #430 "Connection error drains CPU heavily on Windows"
I just had something weird happen. I had some form of connection error with the Messenger client, the icon changed to have the red thing in the corner and started blinking, no big deal. I started up Overwatch and my frame rate dropped from high double digits to below single digit, my GPU stats looked OK so I thought it was something with the GPU being under heavy load. I closed down more or less a

[2016-06-02 20:33] soccernerd05 opened #431 "Emojis changed"
Love the app, but earlier today the emojis and smileys changed completely. They are no longer the same as the facebook ones and look a lot worse. Is this a bug? Is there any way to revert back to the old smileys? I love the app otherwise but this is almost too distracting of a change.

[2016-06-03 01:04] Sytten commented on #349
Heeeee I will take a look maybe after my release. It should only be css tweaking...

[2016-06-03 02:26] Sytten commented on #418
Fix https://github.com/Aluxian/Facebook-Messenger-Desktop/pull/414/commits/999d286893468933ef78b70f93d248fb068527e4

[2016-06-03 02:27] Sytten commented on #416
Lets say we will fix that later, not a big deal for now

[2016-06-03 02:28] Sytten commented on #412
Fixed by simply deleting it for now...

[2016-06-03 02:28] Sytten commented on #411
Should be handle automatically now no?

[2016-06-03 03:02] Sytten commented on #426
I fixed most of dark theme problems for the next release...
If you want to help me. Give the css class of the objects that are wrong and it will then be very easy for me to fix them.

[2016-06-03 03:04] Sytten commented on #430
The next version prevents the icon from changing more than once per second, so it should resolve mostly your problem.

[2016-06-03 03:04] Sytten commented on #431
It is a facebook change, not our fault sry

[2016-06-03 03:04] #431 closed

[2016-06-03 03:05] Sytten commented on #428
Strange I dont have this issue on W7

[2016-06-03 03:07] Sytten commented on #422
This is fixed in the next release

[2016-06-03 09:21] skyli91 commented on #426
It doesn't look like this at all with 1.4.7 :o
![image](https://cloud.githubusercontent.com/assets/7442913/15774536/2ce826c2-297d-11e6-98f6-dec602e196e7.png)

[2016-06-03 10:07] thangngoit opened #432 "Can't connect Messenger.com over Sock v4 proxy"
Can't connect Messenger.com over Sock v4 proxy

[2016-06-03 10:19] Felluz commented on #426
and how to install the 1.4.7 version? please tell us!!

[2016-06-03 10:45] tristankhalil commented on #426
@skyli91  How to install 1.4.7? Mine is 1.4.3 and says it's the latest version.

[2016-06-03 13:42] cdbjr opened #433 "New messages"
For myself, I would like the app to open new messages when received. Or perhaps make it a choice in settings

[2016-06-03 14:43] rikai commented on #433
This request doesn't seem very clear to me at all, could you explain more in depth what you mean?

[2016-06-03 14:44] Sytten commented on #426
Yes its my build (on my fork), but I now am one the official maintainer of the app. I will do a release really soon. You can install my fork builds meanwhile if you want.

[2016-06-03 15:13] cdbjr commented on #433
If you know Apple Messages, when a new message is received, the app message window will open on the desktop. That would work best cross-platform.

As a thought only, with OS X, you have the ability to have notifications appear on screen when new messages are received, like the attached settings image

[2016-06-03 15:20] tristankhalil commented on #426
@Sytten sadly i don't have any idea how to do that. LOL I just came here to report.

[2016-06-03 15:31] lilchancep commented on #426
@tristankhalil

 https://github.com/Sytten/Facebook-Messenger-Desktop/releases/tag/v1.4.7

There is the link to version 1.4.7

[2016-06-03 15:53] tristankhalil commented on #426
@lilchancep WOW thank you!

[2016-06-03 22:15] Sytten commented on #433
Maybe in a future release

[2016-06-03 22:16] Sytten commented on #432
If you can provide more information about that, currently I cant help you.

[2016-06-03 22:18] Sytten commented on #427
This is very specific issue... Next version will be out soon, I would like you to test it again then. Thanks

[2016-06-03 22:19] Sytten commented on #424
I think I might add a PPA if I have some time later. I need to work on the update system for V1.5.0

[2016-06-03 22:20] Sytten commented on #423
Closing issue

[2016-06-03 22:20] #423 closed

[2016-06-03 22:20] #425 closed

[2016-06-04 00:05] Airblader commented on #228
Note that a wrapper script still violates the specification because the client is required to set the property before mapping the window.

[2016-06-04 00:36] Sytten opened #434 "Decoder Legal Issue"
It would be really easy to provide sound in the application but we need a MP3 decoder.

The FFMPEG lib can be found here (already compiled):
https://github.com/iteufel/nwjs-ffmpeg-prebuilt/releases

But since we dont own any license, I suggest we only make a guide to explain to the users how to enabled that feature.
Packaging the lib in the app could cause us some real legal troubles...

[2016-06-05 12:52] cdbjr commented on #433
Of course it might be a future version any change is made to. I would like to suggest something else to be considered.

If using cmd-Q to close the window, the whole app quits. 1) The shortcut is not shown as an option in the menu list 2) I, myself, would prefer if I use cmd-Q it just close the window and not quit the whole app and leave that to choosing it from the menu bar icon. I know this is o

[2016-06-05 14:56] Sytten commented on #433
It should be easy to handle, just have to intercept the shortcut. So many things to do right now...

[2016-06-05 15:53] Sytten commented on #434
As @fthuin pointed me out on gitter:
"No license is needed for private, non-commercial activities (e.g., home-entertainment, receiving broadcasts and creating a personal music library), not generating revenue or other consideration of any kind or for entities with associated annual gross revenue less than US$ 100 000.00. "
http://mp3licensing.com/royalty/emd.html

[2016-06-05 15:53] #434 closed

[2016-06-05 16:17] cdbjr commented on #433
I understand entirely and there are just suggestions

[2016-06-05 16:43] lilchancep opened #435 "Development Branch Bugs (Windows)"
- [ ] Process is nwjs.exe  (**_KNOWN_**)

# Testing in Progress

[2016-06-05 16:43] lilchancep opened #436 "Development Branch Bugs (OSX)"
- [x] Dock Badge Persistent

- [ ] Crazy High energy impact

# Testing in Progress

[2016-06-05 17:06] Sytten commented on #436
Issue of High energy impact is widespread for all platforms due to the 12 fps refresh rate (I think). I currently don't know how to fix it...

Dock badge issue will we fixed before release...

[2016-06-06 01:16] jaxon58 opened #437 "The top bar of the app is hidden by the OS top bar in OS X"
Happened on first launch after a restart. I am using multiple displays, moving the app around displays with mission control doesn't help. It means that you cant move the app around the screen anywhere or use the x - + buttons.

Thanks.

<img width="468" alt="screen shot 2016-06-06 at 11 14 52 am" src="https://cloud.githubusercontent.com/assets/1647753/15809617/f2b9511c-2bd7-11e6-8c2e-2ff1d689c817.

[2016-06-08 12:59] Hori873 commented on #228
I agree. A wrapper script is by no means a solution, just a(n ugly) workaround, as I mentioned before. It would be really nice if the author could fix this issue in a proper way. I don't know how hard it would be since I don't really know Node.js but I do know that many Electron-based apps suffer from this same issue. Also as far as I know this problem only exists on Linux because WM_CLASS is an X

[2016-06-08 19:49] mairin commented on #394
it's June, when is the next release with RPM?

[2016-06-09 03:55] Sytten commented on #394
Yes and I have school, you can use my fork meanwhile. I will try to release a version next sunday if I get approval by my collaborator.

[2016-06-10 10:00] bobnerland opened #438 "Unable to reply messages - 4K monitor on 15 inch laptop"
![4k](https://cloud.githubusercontent.com/assets/15942824/15961042/e96be40c-2f02-11e6-9084-b49149f3891c.PNG)

[2016-06-10 10:02] bobnerland commented on #438
![messenger2](https://cloud.githubusercontent.com/assets/15942824/15961101/435c7c9c-2f03-11e6-9014-f24e9952c56e.PNG)

[2016-06-10 19:45] BurkeKnight opened #439 "Voice/Video calls in APP and not MESSENGER.com"
Would like to see the Voice and video call buttons in app actually be able to do the calls in app, instead of opening the browser to Messenger.com. I'd not noticed, until tried to make such a call, that they were only links. To me, that is a bit sloppy, especially since there's **NOTHING** stating this **ANYWHERE**.

[2016-06-10 19:48] Aluxian commented on #439
@Sytten @nevercast They open in the browser? Last time I used video calls (months ago) it opened in a new window. There's a piece of code somewhere that decides whether to open it in the browser or in a new window, I think a condition can be added there to fix this.

[2016-06-10 20:06] Sytten commented on #439
Since its still your build in the production I guess Facebook changed their API. I will take a look this weekend :+1:

@BurkeKnight Thank you for reporting...

[2016-06-10 20:13] Sytten commented on #438
Since @nevercast and I dont have a 4K its really hard for us to debug that problem. Scaling is one issue that we face and we hope to resolve it by the release 1.5.0 or before if possible...

[2016-06-11 04:11] rikai opened #440 "Website previews are MASSIVE"
When a link is posted, the preview image for them is MASSIVE

For example:
![image](https://cloud.githubusercontent.com/assets/515221/15983037/af2b0cc6-2f4f-11e6-8b58-3b5bdf5a96dc.png)

It takes up almost a 1/4 of my screen at 2560x1440 and over half the chat window which seems kind of excessive.

[2016-06-11 09:18] stelariusinfinitek opened #441 "Window title is changing constantly"
I'm using the latest version of Facebook-Messenger-Desktop. I had this bug for a long time.

I'm using Arch Linux with Xfce4. The window title is changing like crazy between "Facebook" and "Messenger". Like 4 times per second.

(Putem vorbi și în română :) )

[2016-06-11 19:53] zesterer opened #442 "App crashes on Linux when attempting to drag an image onto the window"
The title explains it all.

[2016-06-11 19:55] Aluxian commented on #442
Does it show a dialog? An error message anywhere? Let's debug this:

1. Open your terminal
2. Enter `export DEBUG=whatsie:*`
3. Enter `whatsie`

[2016-06-11 19:56] Aluxian commented on #442
_(ignore my previous (deleted) comment, I thought this was for Aluxian/Whatsie (again)...)_

[2016-06-11 23:02] Jcoraline opened #443 "Links opening in external window instead of browser"
Hi,

I really enjoy using the app, but a while ago it changed so all links would open in an external small window and ask me to leave facebook. Before it used to just open the links directly in my browser. I end up copying and pasting the link into my browser so I can actually access more of the site.

I hope that description made sense, I thought it worked much better as it was before.

![screen

[2016-06-12 16:51] pyrforos commented on #421
I would like to  have notifications from  system because  it is more customizable. For example  the option to  run  a command (in linux/kde) is very useful for a visual alert  like a  blinking led  for a new message (with the help of an arduino) :)
Just a suggestion

[2016-06-12 18:30] Sytten commented on #421
With the new version of nw.js I currently can't provide the old system of native notification. I will have to add a plugin to do that. Maybe in the next version if possible.

[2016-06-13 01:02] Sytten commented on #443
Have you checked the related setting?

[2016-06-13 01:04] Sytten commented on #442
Can you be more specific, I used this app for more than a year without encountering this problem...
I need a test case to reproduce it.
Can you also provide the distribution you are using...

[2016-06-13 01:07] Sytten commented on #441
I never encountered this problem. Is it only when you receive a message? Maybe the regex we use isn't working well in your language...

[2016-06-13 01:09] Sytten commented on #440
We have lots of problem with DPI screens. I currently dont plan to work on this before release 1.5.0 and since I dont own a screen like that my self it will be hard to debug.
Remember that MFD is only a wrapper, so if facebook doesnt handle it well, there is little we can do...

[2016-06-13 01:10] Sytten commented on #436
Dock badge should be fixed (took my 4h to find :P)

Working on the high energy consumption. I will release BETA builds later tonight.

[2016-06-13 04:48] Aluxian commented on #441
@Sytten Yeah, we have that regex... I think we could [throttle](https://www.npmjs.com/package/lodash.throttle) the function that updates the title.

[2016-06-13 04:55] Aluxian commented on #441
(putem, dar nu ne inteleg toti :) )

[2016-06-13 04:56] Sytten commented on #441
Yes its throttle in the beta version, but it wont fix the issue entirely. Probably will have to change the way we check for new messages.

[2016-06-13 05:16] Sytten commented on #436
BETA will be up during the day!!!

[2016-06-13 05:23] Aluxian opened #444 "New release to-do"
- [x] Create a draft release on GitHub
- [x] Update branch `website`
- [ ] Ensure the update process works (to and from the new release)
- [ ] Publish to master (so users can update)
- [ ] Publish the website (branch `gh-pages`)

*let me do the last 2*

[2016-06-13 05:52] thangngoit commented on #432
Thanks u. I provide more information as bellow:
Setting proxy in Firefox
- Proxy: manual proxy configuration
-Type: SOCKS host v4
Screen shot: [http://i.imgur.com/n2edjuV.jpg](url)

SOCK host by create ssh connection to ssh machine to bypass Network fillter.

[2016-06-13 12:08] etrnljg commented on #293
10% of CPU usage on Linux Mint... Strange since Whatsie is under 3%.

[2016-06-13 12:11] Aluxian commented on #293
Messenger for Desktop doesn't run on what Whatsie runs yet (Electron). However, Messenger for Desktop 2 will run on Electron. ETA: this summer

[2016-06-13 16:10] Sytten commented on #432
So if I understand you correctly you want to have the possibility to add a sock v4 proxy. That should be easy since its a chromium browser running. You should be able to do it yourself, I might add a button to open the menu in a future version.

[2016-06-14 05:12] rikai commented on #440
Thats the confusing part, i don't see the same issue on the web-based Messenger. Technically this isn't even a HiDPI screen, just 1440p... Have the same issue on a 1080p screen as well.

[2016-06-14 21:46] Sytten commented on #440
Do you use chromium/chrome with the web base messenger? Its seems very odd to me since I dont touch the html page in any way...

[2016-06-15 04:22] BurkeKnight commented on #439
Yes, opens in new window. Browser window.

[2016-06-15 18:16] Sytten commented on #439
Yes I just exprienced it, I will investigate

[2016-06-15 22:04] elainevdw opened #445 "Background processes don't end on close (Win10)"
I can't always relaunch Messenger after closing it. I've noticed that if I go into Task Manager, there will be four Messenger.exe background processes. If I end those tasks, I can then relaunch Messenger. [Here's a screenshot](https://elainevdw.tinytake.com/sf/NzQ1NTg2XzM0MjIyNTA) of my Task Manager after closing the program. I'm on Win 10 64-bit if that helps.

Thanks for an awesome little deskto

[2016-06-15 22:20] BurkeKnight commented on #439
@Aluxian That is what mean. It's a program, not a browser window, which is why it should open in the actual program, not in new window, or browser. Like @Sytten seems to understand.

[2016-06-16 00:07] Sytten commented on #439
hahahaha I found the problem. Uncheck the setting Open links in browser and voila!

[2016-06-16 00:08] Sytten commented on #439
I will fix this in the the beta.1 (if I can make the beta.0 available, waiting on you @Aluxian )

[2016-06-16 00:10] Sytten commented on #445
W10 wasn't handled very well with the framework version used in that release, I think it will be resolved with the beta I will release this week.

[2016-06-16 00:12] Sytten commented on #444
As said I plan to do the beta first, so when you are done with the dmg I think we can publish it...

[2016-06-16 01:02] ohmel opened #446 "Drafted Messages"
I accidentally pasted a large excel content in the input box on one of my contacts. The app just stopped there and won't respond. I restarted the app and it loaded that contact message history but the message I pasted was still there like it was put into drafts where in the last message you want to send is still saved there and it made the app unresponsive just as when I click that contact. I trie

[2016-06-16 08:20] sarthak-0415 commented on #422
and when is the next release?

[2016-06-17 04:09] cortz opened #447 "Change close-with-escape fra keyup to keydown"
If you close ex. a Skype conversation with escape and Messenger for Desktop is the next app in focus, it closes Messenger for Desktop too, as this listens on key up and not key down i think.

[2016-06-17 15:37] ekolis opened #448 "Sound recordings won't play"
If I receive a sound recording and try to play it back, nothing happens but a spinning circle.

[2016-06-17 18:41] Aluxian commented on #446
Hey, please try these methods:

- Go to https://www.messenger.com/ and try to clear the message from there
- If your browser gets stuck as well, try with a more powerful PC (maybe a friend's or a coworker's); my reasoning is that doing so, the browser won't freeze anymore and you'll get to clear that message
- Use Messenger on your smartphone and delete the message there
- I don't know if this wou

[2016-06-17 22:52] Sytten commented on #422
As soon as I can get the mac build from Aluxian

[2016-06-17 22:53] Sytten commented on #448
This is known, will be resolved in V1.4.9

[2016-06-17 22:53] Sytten commented on #447
Thanks I will look at it

[2016-06-17 23:50] mjbrancato opened #449 "Ability to Disable Esc Button"
Every time I press the escape window to exit out of a view, the whole app closes. I was wondering if it was possible or to have an option to disable the ESC key from quiting the application. This is in Xubuntu 16.0.4

[2016-06-18 06:55] ooker777 opened #450 "Have a zoom feature"
In the webpage version, I can zoom it. The font size is easier to read than ever. I have tried to look at the devtool, but I can't find where the font-size tag locates. I'm still novice.
### Normal font-size

![2016-06-18 13_58_15-messenger](https://cloud.githubusercontent.com/assets/6695517/16169533/c78b7b26-355c-11e6-8692-26d0aa832a2a.png)
### Larger font-size

![2016-06-18 13_27_16-messenger](h

[2016-06-18 18:26] ar13pit opened #451 "Add to tray option like Whatsie in Linux"
Hi it would be great to have the add to tray option in Linux.

[2016-06-18 18:29] Aluxian commented on #451
Hey, Messenger for Desktop 2 will have this. ETA: this summer!

--
Alexandru Rosianu Full-Stack Developer aluxian.com | startersquad.com On Sat, Jun 18, 2016 at 9:26 PM, Arpit Aggarwal < notifications@github.com [notifications@github.com] > wrote:
Hi it would be great to have the add to tray option in Linux.

—
You are receiving this because you are subscribed to this thread.
Reply to this email d

[2016-06-18 19:40] ar13pit commented on #451
Cool. Thanks.

[2016-06-18 19:40] #451 closed

[2016-06-19 12:00] team6612 commented on #449
Same requirement. I need to press Esc when using Chinese input method sometimes. But it closed the entire window accidently. I'm using Windows version.

[2016-06-20 16:58] Sytten commented on #449
I'm working on a new stable release with these fixes. Still have some problems on windows, will be out soon.

[2016-06-20 17:26] ekolis commented on #448
Thank you very much! I didn't think this app was still under development,
but I figured it wouldn't hurt to file an issue...

On Fri, Jun 17, 2016, 6:53 PM Émile Fugulin <notifications@github.com>
wrote:

[2016-06-20 20:47] MarcinWieczorek commented on #448
@ekolis There are other branches which are updated daily.

[2016-06-20 20:59] ekolis commented on #448
Oh, interesting! Where can I find those, and will I need to build from
source?

On Mon, Jun 20, 2016 at 4:47 PM Marcin Wieczorek <notifications@github.com>
wrote:

[2016-06-20 21:04] MarcinWieczorek commented on #448
https://github.com/Aluxian/Facebook-Messenger-Desktop/tree/V1.4.X
https://github.com/Aluxian/Facebook-Messenger-Desktop/tree/V1.5.X

Sytten says we should use 1.5.X despite the fact the latest version is 1.4.8 and there is only newer tag which is a beta version (v1.5.0-beta.0). You can build the app with instructions provided in README. If you're still having trouble please join gitter: https://gi

[2016-06-21 03:45] Sytten commented on #448
Thanks @MarcinWieczorek

[2016-06-21 20:54] mehdi-alouane opened #453 "the app won't start, using ubuntu 14.04"
![screenshot from 2016-06-21 20 53 28](https://cloud.githubusercontent.com/assets/4208162/16245853/4657cf1c-37f2-11e6-9a85-393d35195cf0.png)

[2016-06-22 00:02] fabpin commented on #453
the same problem, you have problem with the SSL,suppose  than caduceus
![captura de pantalla de 2016-06-21 19 00 29](https://cloud.githubusercontent.com/assets/8019419/16250399/a85e5de4-37e2-11e6-9bc1-27897a702010.png)

[2016-06-22 13:27] putz4south commented on #339
@cmoulliard I have the same issue. Did you finally get a solution?

[2016-06-22 14:50] Shdwnova commented on #453
Same Issue on Ubuntu 16.04...

[4015:0622/104625:ERROR:browser_main_loop.cc(170)] Running without the SUID sandbox! See https://code.google.com/p/chromium/wiki/LinuxSUIDSandboxDevelopment for more information on developing with the sandbox on.
ATTENTION: default value of option force_s3tc_enable overridden by environment.
[4037:0622/104626:ERROR:sandbox_linux.cc(325)] InitializeSandbox() called wi

[2016-06-22 18:35] stefan72097 opened #454 "Things like vocal messages/videos don't load. They just show the loading circle forever"
Yeah, the title describes it pretty well.

[2016-06-22 21:11] mcdansg commented on #453
Same issue and error message as Shdwnova on Linux Mint 17.3 Mate edition.  Started two days ago for me.

[2016-06-23 03:37] rvteja92 commented on #453
Same issue for me too, on Ubuntu 14.04
![messenger](https://cloud.githubusercontent.com/assets/9823712/16291201/f062169a-3921-11e6-9d68-6f0333f4f1d8.png)

[2016-06-23 03:44] AllanDaemon commented on #453
Same issue here. Using Debian Unstable (SID) 64 bits.

[2016-06-23 07:13] podarok commented on #453
Ubuntu 16.04 confirmed

[2016-06-23 09:16] mboczek commented on #453
Ubuntu 12.04 x64 and Ubuntu 16.04 x64 - the same problem.

Any suggestions how to fix it?

[2016-06-23 09:20] manuelmarque commented on #453
Same issue here, running Fedora 23 x86_64 and running Messenger Desktop 1.4.7!

[2016-06-23 18:49] rikai commented on #440
Sorry for the delayed respons.

Yes, i do indeed use chrome when using the web messenger.

[2016-06-24 04:24] Frantik02 commented on #445
When you close the main window, the app is actually minimized to the system tray. You should be able to see the Messenger Icon hidden in the system tray menu.

[2016-06-24 04:27] Frantik02 commented on #453
Same here. Running Lubuntu 16.04 64-Bit

[2016-06-24 16:17] elainevdw commented on #445
Wow... how on earth did I miss that???????? Geez I feel like a n00b now. Thanks.

[2016-06-25 08:37] granthgh commented on #453
Same here. Running Mint KDE 17.3

[2016-06-25 14:15] ForumLiker commented on #453
Archlinux x64 - the same problem.
On windows10 - work's

[2016-06-25 14:37] kasunsiyambalapitiya commented on #453
Same here on Elementary OS Freya.

[2016-06-25 16:32] quantux commented on #453
Same thing here ubuntu 14.04 - 64 bits

[2016-06-25 22:06] t3mujin commented on #453
Same here, ubuntu 16.04

[2016-06-26 01:33] MeshWeaver commented on #453
Same here, Linux Mint 17.3 x64 w/ Cinnamon 2.8.8

Error message generated:
[1476:0625/213243:ERROR:browser_main_loop.cc(170)] Running without the SUID sandbox! See https://code.google.com/p/chromium/wiki/LinuxSUIDSandboxDevelopment for more information on developing with the sandbox on.
Home directory not accessible: Permission denied
[1476:0625/213243:INFO:audio_manager_pulse.cc(258)] Failed to c

[2016-06-26 01:43] Sytten commented on #445
Great, resolved. Didnt thought about that haha

[2016-06-26 01:43] #445 closed

[2016-06-26 01:45] Sytten commented on #454
Yes its known and will be resolved in v1.4.9. Thank you!

[2016-06-26 01:45] #454 closed

[2016-06-26 01:49] Sytten commented on #453
Damn... Ok this is serious, only linux seems to be affected. My linux mint is working great, so I will provide temporary builds for you guys to test.
If you can give me feedback soon I will appreciate.

[2016-06-26 01:50] Sytten commented on #407
I re

[2016-06-26 01:50] #407 closed

[2016-06-26 01:52] MarcinWieczorek commented on #407
But why?

[2016-06-26 01:55] Sytten commented on #453
OK!
Please try these builds:
https://github.com/Aluxian/Facebook-Messenger-Desktop/releases/tag/v1.4.8

Try first to install them over the current software without removing manually anything.
If its not working, then locate the Messenger folders under .cache and .config (in your home folder) and remove them.

This build is working for me under Linux mint 17.3.
If you want to help me, please give a

[2016-06-26 01:58] Sytten opened #455 "Official testers"
Hi,

I need you guys to test out the new release before its published to everybody.
You can find it here:
https://github.com/Aluxian/Facebook-Messenger-Desktop/releases/tag/v1.4.8

For all problems, please open an issue with [Beta 1.4.8] in the title. Thank you!

I'm currently searching for official testers on Windows and Mac because I don't have the time to test the software on those platforms.

[2016-06-26 02:00] Sytten commented on #446
Clear the cache would be the best solution I imagine

[2016-06-26 02:00] Sytten commented on #449
Please try the beta:
https://github.com/Aluxian/Facebook-Messenger-Desktop/releases/tag/v1.4.8

[2016-06-26 02:00] #449 closed

[2016-06-26 02:06] Sytten commented on #422
Please try the release:
https://github.com/Aluxian/Facebook-Messenger-Desktop/releases/tag/v1.4.8

[2016-06-26 02:15] Sytten commented on #448
I'm trying to write a gulp plugin to replace the dll/so file. Meanwhile if you want sound you can replace the librairie yourself: https://github.com/iteufel/nwjs-ffmpeg-prebuilt/releases
We use NWJS v0.12.3

[2016-06-26 02:16] Sytten commented on #442
Since we dont have more information I'm closing the issue

[2016-06-26 02:16] #442 closed

[2016-06-26 02:19] Sytten commented on #440
I also happen to find the preview a little bit big (not as big as yours), but I have no solution for you right now. I guess I would have to mess up with the html of the page to reduce it (which I find strange considering that I dont touch the rendering part).
I will mark it as a todo, but I dont promise anything :/

[2016-06-26 02:20] #424 closed

[2016-06-26 02:22] Sytten commented on #429
Thank you for reporting that, but I'm sorry to say that we wont fix that because its a lot of work for such a little feature. I encourage you to try to propose a fix and PR it!

[2016-06-26 02:22] #429 closed

[2016-06-26 02:22] #422 closed

[2016-06-26 09:54] ForumLiker commented on #453
Hi Sytten, the version 1.4.8 also does not work on Archlinux x64

[2016-06-26 09:57] ForumLiker commented on #455
![2016-06-26 15-57-29](https://cloud.githubusercontent.com/assets/11502792/16361574/977718cc-3b9d-11e6-933e-900e51d83f6d.png)

[2016-06-26 10:17] mehdi-alouane commented on #453
confirmed, the version 1.4.8 does work on ubuntu 14.04 x64

[2016-06-26 11:00] mzso opened #456 "Option to disable or delay notification sounds."
Hi

What I'd like is an option to mute notifications. In some circumstances the sounds are undesirable.

What would be even nicer is auto disabling or even better delaying the notification sound when there's another program is running in full-screen mode.

[2016-06-26 11:01] mzso commented on #336
[**@MrValdor**](https://github.com/MrValdor) commented on [2016. jan. 26. 17:16 CET](https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/336#issue-128867776 "2016-01-26T16:16:24Z - Replied by Github Reply Comments"):

It might not be trivial. I'm quite sure this program mostly just display the messenger.com webpage with a built in layout engine. So in order to do that the website code mig

[2016-06-26 11:09] mzso opened #457 "More noticeable visual notifications."
Hi!

I think the visual notifications are not quite enough. There's only something like tiny a red exclamation mark in the bottom right corner.

I think these might be more useful:
- Add open the window (in the background to be not to obtrusive) and flash the taskbar button.
- Flash the notification are icon continuously. (Might not be as noticeable, but still a lot better)

[2016-06-26 11:50] Sytten commented on #453
@ForumLiker your message isnt very helpful...

@mehdi-alouane great to hear that!

[2016-06-26 11:51] Sytten commented on #455
Have you tried deleting the cache?

[2016-06-26 11:52] Sytten commented on #456
If you have sound notifications then youre probably the only one here right :)
You can mute the sound via the facebook settings.

[2016-06-26 11:54] i-am-cyrus commented on #453
Icon now shown in the tray, but it seems that there is still the same error on Xubuntu 16.04 x64:
`[7600:0626/145025:ERROR:browser_main_loop.cc(170)] Running without the SUID sandbox! See https://code.google.com/p/chromium/wiki/LinuxSUIDSandboxDevelopment for more information on developing with the sandbox on.
ATTENTION: default value of option force_s3tc_enable overridden by environment.
[7619:06

[2016-06-26 11:55] Sytten commented on #457
Flashing the notification is annoying so I wont do that.
As for open the window that would probably be something I could do, but I don't think I have the option to choose where the window appears.

Also you should have a native notification appearing. Those will be changed for chrome-like notifications eventually.

[2016-06-26 12:07] Sytten commented on #453
I have done some research and I think that it might be related to the fact that TLS 1.2 seems to be bugged in this version of chromium. That quite strange since the problem inst affecting everybody.

Have you tried to delete the cache?

[2016-06-26 12:18] Sytten commented on #453
Since I already developed the version based on a more recent version of NWJS, I will propose builds based on NWJS 0.14.5 (with a more recent chromium version) tonight if I can.
My guess is that facebook decided to move to TLS 1.2 only and that created the problem.
It is strange that only the linux version seems to affected and not everybody.

[2016-06-26 12:32] klaudiosinani commented on #453
The issue seems to be also present on _**Xubuntu 16.04 32-bit**_, but i will definitely try deleting the cache and report back about the outcome! Sick work though guys! Kudos! ☺ 😁

[code]

![screenshot_2016-06-26_15-12-36](https://cloud.githubusercontent.com/assets/12670537/16362226/4f3464ca-3bb1-11e6-80c6-4fbb29886b1e.png)

[2016-06-26 12:52] ForumLiker commented on #453
$HOME/.config/Messenger
/opt/MessengerForDesktop
Remove, and then set a new version. did not help.

[2016-06-26 12:52] ForumLiker commented on #455
$HOME/.config/Messenger
/opt/MessengerForDesktop
Remove, and then set a new version. did not help.

[2016-06-26 13:17] Sytten commented on #455
Can you try something for me? Uncheck the setting open links in browser and type in the console: window.open('https://www.messenger.com')

I'm really lost with this SSL problem...

[2016-06-26 13:23] Sytten commented on #453
If you guys can give the version of libnss3 on your system that would help me! It seems to be related to that librairie as stated here: https://github.com/popcorn-official/popcorn-desktop/issues/49

The passage to nwjs 0.14.5 should also resolve the issue as stated here:
https://github.com/nwjs/nw.js/issues/4017

[2016-06-26 13:40] i-am-cyrus commented on #453
@Sytten info from
`apt-cache show libnss3`

Source: nss
Version: 2:3.21-1ubuntu4
Depends: libc6 (>= 2.14), libnspr4 (>= 2:4.9-2~) | libnspr4-0d (>= 4.8.6), libsqlite3-0 (>= 3.5.9), zlib1g (>= 1:1.1.4), libnss3-nssdb
Conflicts: libnss3-1d (<< 2:3.13.4-2)
Filename: pool/main/n/nss/libnss3_3.21-1ubuntu4_amd64.deb

[2016-06-26 13:45] klaudiosinani commented on #453
I am on `(2:3.21-1ubuntu4)`

[code]
[Original comment](https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/453#issuecomment-228599144)

[2016-06-26 13:50] Sytten commented on #453
I guess I was wrong about the libnss3 then. I'm uploading the new builds based on nwjs 0.14.5

[2016-06-26 15:30] mcdansg commented on #453
What is the default path to the cache?

Scott

[2016-06-26 15:55] i-am-cyrus commented on #453
@Sytten release 1.5.0 works for me! Console have some kind of warning:

but maybe it is Ok.

[2016-06-26 16:26] Frantik02 commented on #453
Finally was able to run it and log in on Lubuntu 16.04 64-Bit. Can't add the app to my Plank Dock. Probably a restart would help.

[2016-06-26 16:30] Frantik02 commented on #453
Indeed, rebooting allowed the app to remain in the dock. Not sure why that, happened, though.

[2016-06-26 16:32] Frantik02 commented on #453
Apparently YouTube links don't appear as messages. The person who just sent me a link appears without the https://www.youtube.com/etc... below their name.

[2016-06-26 16:34] ForumLiker commented on #455
Uncheck tick and the console has entered....
Opened empty box.
Error in console
localStorage: [Exception: DOMException: Failed to read the 'localStorage' property from 'Window': Storage is disabled inside 'data:' URLs.]
sessionStorage: [Exception: DOMException: Failed to read the 'sessionStorage' property from 'Window': Storage is disabled inside 'data:' URLs.]
![2016-06-26 22-31-58](https://cloud

[2016-06-26 16:48] ForumLiker commented on #453
release 1.5.0 works for me!

[2016-06-26 17:30] granthgh commented on #453
v1.5.0-beta.0 works fine on Mint KDE 17.3

[2016-06-26 18:35] mzso commented on #456
Well, I was using the stable version. Anyways, I'm guessing it will return. I didn't know about the facebook setting.

PS:
BTW what happened to the sound?

[2016-06-26 18:45] mzso commented on #457
[**@Sytten**](https://github.com/Sytten) commented on [2016. jún. 26. 13:55 CEST](https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/457#issuecomment-228597668 "2016-06-26T11:55:27Z - Replied by Github Reply Comments"):

You mean the icon? I don't think it's bothersome due to it's small size and out-of-the way nature. (It could be optional)
Flashing the taskbar button on the other hand i

[2016-06-26 19:53] Sytten commented on #457
The taskbar button should be changing name. I removed the flashing icon, but I could add it as an option later.

Native notification is different depending on your system, on yours its probably the balloon pop-up yes. Chrome notification is a white rectangle usually in some corner of the screen.

[2016-06-26 19:55] Sytten commented on #456
The sound never worked, at least for everybody here :)
But its due to a lib ffmpeg which is currently compiled without the MP3 decoder.
I will replace those lib in a future release.

[2016-06-26 19:56] Sytten commented on #455
If you try some other site instead of messenger.com?
So have reported that the v1.5.0-beta.0 is working for them, you might want to try it out also.

[2016-06-26 19:58] Sytten commented on #453
Great to hear that!

@i-am-cyrus yes its normal

@Frantik02 not sure to understand what you mean by that?
Notification sounds are working, wonderful! Don't know why hahaha

[2016-06-26 20:05] Sytten commented on #455
I will close this issue since its not relevant anymore, but I wont delete it.

[2016-06-26 20:05] #455 closed

[2016-06-26 20:07] Sytten commented on #446
I will close the issue, if you need more help please open a new issue :)

[2016-06-26 20:07] #446 closed

[2016-06-26 20:07] Sytten commented on #443
Not any feedback, closing

[2016-06-26 20:07] #443 closed

[2016-06-26 20:30] Sytten opened #458 "Information and help needed"
Hi,

I'm currently the official maintainer for Messenger For Desktop. I'm opening this issue, because I feel a bit overwhelmed with the project right now. With finals coming soon that won't get any better.
I think @Aluxian, you can understand that.

What I need most right now is:
- Testers on windows and mac who know how to report issues (meaning they know how to debug webapps)
- Git maintainer to

[2016-06-26 20:32] Sytten commented on #428
Since we cant debug with that little information, I'm closing

[2016-06-26 20:32] #428 closed

[2016-06-26 20:32] Sytten commented on #444
Dont think its relevant anymore, see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-26 20:32] #444 closed

[2016-06-26 20:33] Sytten commented on #436
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-26 20:33] Sytten commented on #435
See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-26 20:33] #435 closed

[2016-06-26 20:34] #436 closed

[2016-06-26 20:34] Sytten commented on #430
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-26 20:34] #430 closed

[2016-06-26 20:35] Sytten commented on #441
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458
Open a new issue if its still doing that with the beta

[2016-06-26 20:35] #441 closed

[2016-06-26 20:36] Sytten commented on #417
See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-26 20:36] #417 closed

[2016-06-26 20:37] #418 closed

[2016-06-26 20:37] #419 closed

[2016-06-26 20:38] #412 closed

[2016-06-26 20:39] #405 closed

[2016-06-26 20:41] Sytten commented on #404
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458 and https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/453

[2016-06-26 20:41] #404 closed

[2016-06-26 20:42] Sytten commented on #401
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-26 20:42] #401 closed

[2016-06-26 20:45] Sytten commented on #426
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-26 20:45] #426 closed

[2016-06-26 20:47] Sytten commented on #437
Try to remove the application and delete the cache/config folder. That should reset the whole thing.

[2016-06-26 20:49] Sytten commented on #410
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458
If its not working still, then please open a new issue :)

[2016-06-26 20:49] #410 closed

[2016-06-26 20:50] #399 closed

[2016-06-26 20:51] Sytten commented on #398
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-26 20:51] #398 closed

[2016-06-26 20:51] Sytten commented on #396
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-26 20:51] #396 closed

[2016-06-26 20:51] Sytten commented on #394
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-26 20:51] #394 closed

[2016-06-26 20:52] Sytten commented on #395
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-26 20:52] #395 closed

[2016-06-26 20:52] Sytten commented on #393
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-26 20:52] #393 closed

[2016-06-26 20:54] Sytten commented on #391
@Aluxian dont forget to tell canonical about it

[2016-06-26 20:57] Sytten commented on #382
I think the issue as been answered

[2016-06-26 20:57] #382 closed

[2016-06-26 20:58] Sytten commented on #379
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-26 20:58] #379 closed

[2016-06-26 20:59] Sytten commented on #376
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458
Try it with the latest beta. Feel free to open an issue again if its still happening.

[2016-06-26 20:59] #376 closed

[2016-06-26 21:00] Sytten commented on #374
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/453 and https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-26 21:00] #374 closed

[2016-06-26 21:02] Sytten commented on #371
This should be resolved now. Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/453

[2016-06-26 21:02] #371 closed

[2016-06-26 21:04] Sytten commented on #366
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/453
If you still have problems feel free to open a new issue

[2016-06-26 21:04] #366 closed

[2016-06-26 21:04] Sytten commented on #367
Not relevant.

[2016-06-26 21:04] #367 closed

[2016-06-26 21:06] Sytten commented on #364
I think the issue is resolved

[2016-06-26 21:06] #364 closed

[2016-06-26 21:07] Sytten commented on #368
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/453

[2016-06-26 21:07] #368 closed

[2016-06-26 21:07] Sytten commented on #361
Without more information I cant help you, closing

[2016-06-26 21:07] #361 closed

[2016-06-26 21:08] Sytten commented on #354
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-26 21:08] #354 closed

[2016-06-26 21:09] Sytten commented on #356
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-26 21:09] #356 closed

[2016-06-26 21:10] Sytten commented on #362
Will be fixed in a near release for the app, ask apple for safari.

[2016-06-26 21:10] #362 closed

[2016-06-26 21:11] Sytten commented on #350
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458
Just tick the remember me when logging, should do the trick

[2016-06-26 21:11] #350 closed

[2016-06-26 21:11] Sytten commented on #341
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-26 21:11] #341 closed

[2016-06-26 21:12] Sytten commented on #346
Not relevant, closing

[2016-06-26 21:12] #346 closed

[2016-06-26 21:12] Sytten commented on #344
no relevant anymore, please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-26 21:12] #344 closed

[2016-06-26 21:13] Sytten commented on #338
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-26 21:13] #338 closed

[2016-06-26 21:13] Sytten commented on #348
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458
Should be resolved

[2016-06-26 21:13] #348 closed

[2016-06-26 21:14] Sytten commented on #337
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458
Resolved

[2016-06-26 21:14] #337 closed

[2016-06-26 21:15] Sytten commented on #347
Will be resolved soon, just need to change the lib.
Meanwhile please check https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-26 21:15] #347 closed

[2016-06-26 21:16] Sytten commented on #333
Yes that will be resolved in the next beta, the problem lie in the setting: Open links in browser
Meanwhile please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-26 21:16] #333 closed

[2016-06-26 21:17] #332 closed

[2016-06-26 21:17] Sytten commented on #331
Known issue will be resolved in the next beta.
Meanwhile please check https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-26 21:17] #331 closed

[2016-06-26 21:18] Sytten commented on #339
Please generate rpm directly instead

[2016-06-26 21:18] #339 closed

[2016-06-26 21:19] Sytten commented on #349
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458
If the problem is still there, please open a new issue

[2016-06-26 21:19] #349 closed

[2016-06-26 21:20] Sytten commented on #351
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458
I suggest you delete the cache in the appdata, always helps.
Open a new issue if you still have that problem.

[2016-06-26 21:20] #351 closed

[2016-06-26 21:23] Sytten commented on #335
Thats a wont fix for now.
Maybe with the new chrome notifications we can do something.

[2016-06-26 21:24] Sytten commented on #330
Performances should be a little better, but the issue is still valid.

[2016-06-26 21:25] Sytten commented on #328
Actually very annoying when it does.
See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/457

[2016-06-26 21:25] #328 closed

[2016-06-26 21:26] Sytten commented on #327
Cache is in the appdata/local folder on windows.
The new version delete it.

[2016-06-26 21:26] #327 closed

[2016-06-26 21:26] Sytten commented on #325
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458
Feel free to open a new issue if its still a problem

[2016-06-26 21:26] #325 closed

[2016-06-26 21:27] Sytten commented on #324
Issue resolved

[2016-06-26 21:27] #324 closed

[2016-06-26 21:28] mzso commented on #456
Huh. I had sound here yesterday with 1.4.3.

[2016-06-26 21:28] Sytten commented on #381
This is known and will be resolved in the next beta.
Meanwhile please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-26 21:28] #381 closed

[2016-06-26 21:29] Sytten commented on #378
Please see: https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458
Feel free to open a new issue if the problems appears with the beta

[2016-06-26 21:29] #378 closed

[2016-06-26 21:30] Sytten commented on #377
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458
You can try to delete the cache (under .config in the home folder). Please be sure that you have the right permissions on the cache.
If you still have the problem feel free to open a new issue

[2016-06-26 21:30] #377 closed

[2016-06-26 21:31] Sytten commented on #373
Same as https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/377

[2016-06-26 21:32] Sytten commented on #373
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458
The SSL issue is now resolved.

[2016-06-26 21:32] #373 closed

[2016-06-26 21:33] Sytten commented on #365
Thanks for reporting.
Please try to use the beta, see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458
I will investigate that problem for the future beta releases

[2016-06-26 21:34] Sytten commented on #456
Sound notification maybe then, but not sounds in general (if you try to play an mp3 for example).
I actually never tested the sound notifications...

[2016-06-26 21:37] Sytten commented on #360
This is a wont fix for now, to complicated to implement. If you want to identify the necessary information in the html needed to rearrange it in the proper order, I would be glad to help you write the javascript needed to make the swap.

[2016-06-26 21:37] #360 closed

[2016-06-26 21:49] Sytten commented on #359
Why would you want someone to not see that you have seen their message. Strange...

[2016-06-26 21:49] Sytten commented on #352
Please use https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-26 21:49] #352 closed

[2016-06-26 21:51] Sytten commented on #323
Yes this is known and will be resolved in a future beta.
Meanwhile please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-26 21:51] #323 closed

[2016-06-26 21:53] Sytten commented on #320
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458
@cassiodoroVicinetti pointed out a good thing about the dependencies so I will let this thread open

[2016-06-26 21:54] Sytten commented on #319
Should be resolved.
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-26 21:54] #319 closed

[2016-06-26 21:56] Sytten commented on #318
Issue resolved then

[2016-06-26 21:56] #318 closed

[2016-06-26 21:59] Sytten commented on #317
Heee this feature is available when you click on the information icon

[2016-06-26 21:59] #317 closed

[2016-06-26 22:00] Sytten commented on #316
Resolved, please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-26 22:00] #316 closed

[2016-06-26 22:00] Sytten commented on #315
This should not be an issue that prevents you from using the software.
Now its gone with the latest beta.
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-26 22:00] #315 closed

[2016-06-26 22:01] Sytten commented on #314
Can you confirm that its still an issue with the latest beta.
See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-26 22:02] Sytten commented on #313
Should be resolved with the latest beta.
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458
Feel free to open a new issue if you still have problems.

[2016-06-26 22:02] #313 closed

[2016-06-26 22:03] Sytten commented on #312
Resolved in the new beta release.
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-26 22:03] #312 closed

[2016-06-26 22:04] Sytten commented on #311
Resolved in the new beta release.
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-26 22:04] #311 closed

[2016-06-26 22:05] Sytten commented on #309
Is it still something needed.
I would be glad to have you on board to make that feature appear in the software.
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-26 22:05] Sytten commented on #308
Should be working with the latest beta.
Please check https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-26 22:05] #308 closed

[2016-06-26 22:06] Sytten commented on #304
Resolved in the latest beta.
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-26 22:06] #304 closed

[2016-06-26 22:07] Sytten commented on #303
this is too much work for its usage... wont fix

[2016-06-26 22:07] #303 closed

[2016-06-26 22:07] Sytten commented on #302
Check the uninstaller in the program directory.
The new version add it to the Programs and Features
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-26 22:07] #302 closed

[2016-06-26 22:09] Sytten commented on #300
The new beta release have rpm.
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-26 22:09] #300 closed

[2016-06-26 22:09] Sytten commented on #298
The auto-hide sidebar inst working very well.
Please try the new beta release.
See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-26 22:13] Sytten commented on #295
Problem solved.
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-26 22:13] #295 closed

[2016-06-26 22:14] Sytten commented on #293
Still having so performances issues due to the useless renders being made.
Working on it.

[2016-06-26 22:15] Sytten commented on #291
Happens less often with the latest build.
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-26 22:16] Sytten commented on #290
The auto-hide sidebar isnt working very well. I will take a look at it.
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458 meanwhile

[2016-06-26 22:26] Sytten commented on #284
Just install it on a raspbian, should work out of the box.

[2016-06-27 05:10] Sytten commented on #413
When you right click on the page you can have another devtool where the components are there. However the right-click is disabled in the code. Commenting the line 62 should do the trick: https://github.com/Aluxian/Facebook-Messenger-Desktop/blob/V1.5.X/src/app.js

[2016-06-27 05:11] Sytten opened #459 "[v1.5.0-beta.0] Disable the right click"
Forgot to disable it before release.
Just need to uncomment line 62 of https://github.com/Aluxian/Facebook-Messenger-Desktop/blob/V1.5.X/src/app.js

[2016-06-27 06:24] GAMELASTER commented on #359
@Sytten because I hate that when I seen the message but I cant reply, and the other side thinks im ignoring and blahblahblah... I hate it!

[2016-06-27 10:23] cassiodoroVicinetti commented on #458
Nice to hear that the project has a new maintainer!

I will try to give my little help, although I have very little free time.

[2016-06-27 10:28] cassiodoroVicinetti commented on #407
https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-27 10:46] skyli91 commented on #459
Why disable it? Now i can right click - paste to the textfield and also right click - delete messages.

[2016-06-27 12:53] george-viaud commented on #380
Notifications should have click action (like bring focus to that app for example).  Configurable action would be even better.

[2016-06-27 13:00] Sytten commented on #459
From what I remember the right give access too other features that we don't necessarily want end users to see (but maybe I did disable that, I need to check) :)

[2016-06-27 13:04] Sytten commented on #359
Yes I see it would be nice, I currently have other priorities.
Maybe in the MFD 2, what do you think @Aluxian

[2016-06-27 14:03] Lupusaurus commented on #453
v1.5.0-beta.0 works well with sound and notifications (but not the native ones). The only thing doesn't work is the right click.

![captura de pantalla de 2016-06-27 00 44 12](https://cloud.githubusercontent.com/assets/16579247/16382314/b089ee66-3c56-11e6-91fb-2a78d9eb2973.png)

[2016-06-27 17:01] GAMELASTER commented on #359
@Sytten actually it is a easy task to do, in that time when I sent it I don't  have a lot of skills with Electron, now I could do it and send pull request. When I will got time I will do that :-) . It's just block of one HTTP request

[2016-06-27 17:12] danielmihai commented on #309
Hi @Sytten ,

Glad to be hearing from you. What are the terms for an official maintainer?
And besides the question, I would like to know more about the feature request implementation.

Looking forward to hearing from you asap

Warm Regards,
Daniel M. Colceag.

[2016-06-27 19:22] cassiodoroVicinetti commented on #271
+1

[2016-06-27 19:23] cassiodoroVicinetti commented on #267
https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

Please close this

[2016-06-27 20:58] Frantik02 commented on #453
I now have a dock problem. If I manage to add the app to my Plank Dock (which can't be achieved via "Keep in dock", as the option does not appear when right clicking the Messenger icon), I get an icon duplicate: one to open the app and one representing the window. /:

[2016-06-27 21:04] zapinguete commented on #453
Sytten the latest v1.5.0-beta works great on Gmac OS derived from Ubuntu 14.04 64bits
Thanks a ton and blessings to you and your family.

[2016-06-28 00:45] Sytten commented on #453
Thanks to you all guys! Happy to hear its working well.

@Lupusaurus the right click where? Yes, we now have chrome-like notifications!

@Frantik02 I can't really help you with that, its really depending on your distribution and how they handle the tray icon...

[2016-06-28 00:51] Sytten commented on #309
Not sure to understand what you mean by terms for official maintainer.
I develop the software until @Aluxian release the v2.
You can contribute if you want by doing some PR.

Its your feature request, you tell me want you want to do :)

[2016-06-28 00:53] Sytten commented on #359
@GAMELASTER the software is actually based on NW.JS (0.14.5 for the V1.5.X branch)
Yes I guess that must be easy, me only concern is that it would probably mess up with the notification icon and title bar. Tell me when you got time so we can plan this together.

[2016-06-28 00:55] fabpin commented on #453
[messengerForDesktop V:1.5.0 Beta](https://github.com/Aluxian/Facebook-Messenger-Desktop/releases/tag/v1.5.0-beta.0) Work on ubuntu 64 bits.

[2016-06-28 00:57] Sytten commented on #359
This is probably what you want https://github.com/Aluxian/Facebook-Messenger-Desktop/pull/462

[2016-06-28 01:01] Sytten commented on #458
Thanks @cassiodoroVicinetti, you helped me on my fork and I really appreciate it!

[2016-06-28 01:03] Sytten commented on #450
@ooker777 How do you usually zoom on the browser, I need an idea for the implementation

[2016-06-28 01:04] danielmihai commented on #309
what does it mean to be an official maintainer?

do you want me to create the story for the feature?

Sent from my iPhone

[2016-06-28 01:34] Sytten commented on #309
Mostly to do some bug fixing and releasing the builds.
You have full control over the code.

Yes create the story. I don't have the time to implement it myself, but someone might do it (or you if you feel like it)

[2016-06-28 02:01] danielmihai commented on #309
the story was to be reviewed by both and then discuss the details of implementation, ux/ui details, coding style and so on and so forth.
what do you say?

and after we finish discussing the details and I implement it, we review it and see if you or aluxian  like the imlementation, I could take some bug fixing on the list, if I have the time

Sent from my iPhone

[2016-06-28 03:03] Sytten commented on #309
I like it!
The code is a bit messy right now, so a discussion about the implementation would be more than welcomed. I know the v2.0 will be an entirely new code, but I don't like the idea of increasing the mess for no reason.
You can join me on gitter if you want to chat, I'm always connected (Time zone East Canada).
I have a busy week, but maybe this week-end would be a good time for that.

Thank

[2016-06-28 03:03] Sytten commented on #255
Please try the new beta.
See this post: https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458
Feel free to open a new issue if you still have problems.

[2016-06-28 03:03] #255 closed

[2016-06-28 03:04] Sytten commented on #225
I deleted this ugly right click menu in the beta.
Please see: https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-28 03:04] #225 closed

[2016-06-28 03:05] Sytten commented on #223
Please try the new beta, this should be resolved.
See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458
Feel free to open a new issue if you still have problems.

[2016-06-28 03:05] #223 closed

[2016-06-28 03:05] Sytten commented on #222
This feature is present in the new beta.
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-28 03:05] #222 closed

[2016-06-28 03:06] Sytten commented on #221
With the current framework we can't make that title bar, but I like your idea for the tray icon.
Please try the new beta I made.
More information here: https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-28 03:07] Sytten commented on #220
Please try the new beta, we reduced it.
See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458
If you feel its still a problem, please open a new issue

[2016-06-28 03:07] #220 closed

[2016-06-28 03:08] Sytten commented on #219
That would be a nice feature also proposed here:
https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/309#issuecomment-228928263

Meanwhile please try the new beta. See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-28 03:09] Sytten commented on #218
Yes this has been resolved in the beta.
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-28 03:09] #218 closed

[2016-06-28 03:10] Sytten commented on #217
That would be a great feature, but it requires some work (not a priority right now)
Meanwhile please see the beta: https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-28 03:11] Sytten commented on #216
I have not seen that issue in more than a year of daily usage.
Please try the beta. See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458
If you still have the problem, please open a new issue

[2016-06-28 03:11] #216 closed

[2016-06-28 03:12] Sytten commented on #215
That would be a nice feature, but not top priority right now.
Meanwhile please see the beta if you are still interested in the app: https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-28 03:13] Sytten commented on #214
Their is already an application on the windows store if you want to use it. Our current framework doesn't allow us to make Windows App sorry.

[2016-06-28 03:13] #214 closed

[2016-06-28 03:14] Sytten commented on #212
This issue is resolved in the beta.
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-28 03:14] #212 closed

[2016-06-28 03:15] Sytten commented on #211
This is not an issue, it can already runs in background.
Please see the beta for a more up to date software: https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-28 03:15] #211 closed

[2016-06-28 03:16] Sytten commented on #210
We know this issue, we reduced the energy impact in the latest beta (see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458), but we still have some problems when the window is visible (on mac it seems to be worse)...

[2016-06-28 03:17] Sytten commented on #208
The issue is resolved in the new beta.
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-28 03:17] #208 closed

[2016-06-28 03:18] Sytten commented on #207
I think we can close this issue since the dark theme was updated quite a lot.

[2016-06-28 03:18] #207 closed

[2016-06-28 03:19] Sytten commented on #206
Hi,

First of all I must say that we don't use the facebook API.
The software is only a wrapper around the website messenger.com
Our framework doesnt allow us to do sticky conversations...
sorry about that

[2016-06-28 03:19] #206 closed

[2016-06-28 03:21] Sytten commented on #205
This is only a wrapper working in a chromium browser.
Porting the app to Qt is not possible, sorry.

[2016-06-28 03:21] #205 closed

[2016-06-28 03:23] Sytten commented on #204
The window must be at a minimum size at all time, their is a limit on how responsive the messenger.com website is.
If you still like the software, please try the beta recently released.
See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458.

[2016-06-28 03:23] #204 closed

[2016-06-28 03:23] Sytten commented on #203
Happened to some other guy on Redhat too, but it seems to work well for most of our users on Ubuntu.

[2016-06-28 03:23] #203 closed

[2016-06-28 03:24] Sytten commented on #202
Ho that is true, I will see to that.
Meanwhile please try the new beta.
See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-28 03:25] Sytten commented on #201
I agree that would be nice, but since its only a web wrapper of the website I don't think that would be possible (at least not easily).

[2016-06-28 03:28] Sytten commented on #228
Hi!
I invite you to try the new beta. I added a WM_CLASS (as far as I remember) and I personally never had this problem.
See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458 for more information.
I will let this issue open a bit more to see if your problem is resolved.

[2016-06-28 03:29] Sytten commented on #199
Please try the new beta to see if your problem is still present.
See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458
Feel free to open a new issue if you still have the problem.

[2016-06-28 03:29] #199 closed

[2016-06-28 03:30] Sytten commented on #198
Yes as @HRoland1 said, we don't have any control on that since we are only a web wrapper ariound their website.
Meanwhile, please try the new beta.
See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-28 03:30] #198 closed

[2016-06-28 03:30] Sytten commented on #197
Closing

[2016-06-28 03:30] #197 closed

[2016-06-28 03:31] Sytten commented on #196
The issue is resolved in the new beta.
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-28 03:31] #196 closed

[2016-06-28 03:35] Sytten commented on #194
Is this issue resolved?
Adding shortcut to the software is a feature I want to implement in the future.
Meanwhile please see the beta.
More information here: https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

For the record, I'm also adding a link to the Goofy app (https://github.com/danielbuechele/goofy)

[2016-06-28 03:37] Sytten commented on #193
As said before its not a feature we can easily do right now.
Meanwhile feel free to test the new beta, see this post https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-28 03:37] #193 closed

[2016-06-28 03:38] Sytten commented on #192
This was fixed, see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-28 03:38] #192 closed

[2016-06-28 03:40] Sytten commented on #190
Should be easy to do a web wrapper around that website, but I dont have the time nor the interest.

[2016-06-28 03:40] #190 closed

[2016-06-28 03:42] Sytten commented on #189
I need to do some testing too see if its till relevant to the current code and I will include it in a next beta release for sure.
Thanks
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458 for more information about the beta.

[2016-06-28 03:44] Sytten commented on #187
Not sure what you want to say, not very clear.
Please try the app to see if you still have that problem.
See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458 for more information about it.
Feel free to open a new issue if you still have that problem.

[2016-06-28 03:44] #187 closed

[2016-06-28 03:45] Sytten commented on #186
Well fro my own experience it does mark it as read as soon as you open the window.
Please try the beta to see if you still have that problem.
More information here: https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-28 03:45] #186 closed

[2016-06-28 03:46] Sytten commented on #183
I will add it as a feature request, but there is little chance it will be implemented shortly, sorry.
Meanwhile please try the new beta, see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458 for more information about it.

[2016-06-28 03:47] Sytten commented on #182
The sidebar still have some issues with the new beta (see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458 for more information about it), but since this issue is very old I will close it.
If you still have problems, please open a new issue with clear screenshots

[2016-06-28 03:47] #182 closed

[2016-06-28 03:48] Sytten commented on #181
This issue is resolved in the new beta, please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458 for more information about it.

[2016-06-28 03:48] #181 closed

[2016-06-28 03:49] Sytten commented on #180
Can you confirm that it is still a problem?
Also please try the new beta version (more info here: https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458).
That won't help your problem right now though, I have an idea why it might do that (will investigate).

[2016-06-28 03:51] Sytten commented on #263
That won't be possible with the current framework, sorry.
But if you still like the app, please use its beta version.
See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458 for more information about it.

[2016-06-28 03:51] #263 closed

[2016-06-28 03:51] Sytten commented on #275
This issue has been resolved in the latest beta,
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458 for more information about it.

[2016-06-28 03:51] #275 closed

[2016-06-28 03:53] Sytten commented on #267
@cassiodoroVicinetti Please tag me if you want me to see the message ;)

[2016-06-28 03:53] #267 closed

[2016-06-28 03:53] Sytten commented on #265
Resolved in the latest beta.
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-28 03:53] #265 closed

[2016-06-28 03:55] Sytten commented on #163
This issue is resolved in the new beta.
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458 for more information about it

[2016-06-28 03:55] #163 closed

[2016-06-28 03:56] Sytten commented on #164
Yes I understand, I will try to add this choice in a future release.
Please see the new beta meanwhile. More information here https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-28 03:59] Sytten commented on #162
We still have this issue, it is well known.
I'm working closely with the developer of NWJS to find the issue.
Still we made some improvements since and I encourage you to test the beta release.
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458 for more information. Since there is a lot of issue already opened for this bug I will close it.

[2016-06-28 03:59] #162 closed

[2016-06-28 04:00] Sytten commented on #161
That would be a nice feature, but I don't have the time to implement it. Still I encourage you to test our new beta version.
See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458 for more information about it.

[2016-06-28 04:00] Sytten commented on #160
https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/128

[2016-06-28 04:01] #160 closed

[2016-06-28 04:02] Sytten commented on #128
That would be a nice feature, I will try to add it in a future beta release.
Meanwhile please try our beta. More information here: https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-28 04:04] Sytten commented on #159
We will continue the discussion here https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/359

[2016-06-28 04:04] #159 closed

[2016-06-28 04:05] Sytten commented on #158
I also support that suggestion

[2016-06-28 04:06] Sytten commented on #156
Yes its fairly easy. I will try for a future beta.
Meanwhile please try the new beta release.
See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/359 for more information about it.

[2016-06-28 04:08] Sytten commented on #156
Yes its fairly easy. I will try for a future beta.
Meanwhile please try the new beta release.
See #458 for more information about it.

[2016-06-28 04:08] Sytten commented on #155
The RPM are available in the current beta release.
Please see #458 for more information about it

[2016-06-28 04:08] #155 closed

[2016-06-28 04:09] Sytten commented on #152
This issue is fixed in the latest beta.
Please see #458

[2016-06-28 04:09] #152 closed

[2016-06-28 05:09] GandalfSaxe commented on #194
Just re-installed to test this. Yes, this issue is resolved 👍

[2016-06-28 05:09] #194 closed

[2016-06-28 05:13] GandalfSaxe commented on #253
Confirming, this is still an issue.

[2016-06-28 05:33] ooker777 commented on #450
I just zoom it as usual: <kdb>ctrl++</kdb>. You can also enlarge the font size. 

Ooker.

On Tue, Jun 28, 2016 at 8:03 AM +0700, "Émile Fugulin" <notifications@github.com> wrote:

@ooker777 How do you usually zoom on the browser, I need an idea for the implementation

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-06-28 06:48] Frantik02 commented on #453
@Sytten the thing is that before the 1.5.0 / 1.4.8 pre-releases and this whole _app.html_ issue, my Plank Dock managed the app perfectly: just one icon to launch the app and then the app window would be attached to that same window. There is something in the update that was changed and now interferes with the proper recognition of the app in the Dock. Just as a reminder, I'm running Lubuntu 16.04

[2016-06-28 07:12] orschiro commented on #206
Alright. Thanks for your feedback though!

Sent from the Fairphone alternative
On Jun 28, 2016 5:19 AM, "Émile Fugulin" <notifications@github.com> wrote:

[2016-06-28 09:56] zapinguete commented on #453
Frantik02 I have the same problem as you do but with Freya Elementary OS, Loki Elementary OS and Gmac OS all three of these distributions show the double ghost icon on the Dock. This very same issue occurred with Google Chrome not too long ago but was resolve within chrome's releases, at the end it had nothing to do with the distributions themselves, let us all hope that this will be the case with

[2016-06-28 15:02] Lupusaurus commented on #453
@Sytten don't remember where, but in the old releases, you are able to change the theme and check for updates by right click.

[2016-06-28 15:35] GAMELASTER commented on #359
@Sytten ah, yeah, NW.JS, I wrong remembered. When the pull request is made I can close this! :-) Thanks

[2016-06-28 15:35] #359 closed

[2016-06-28 17:08] GAMELASTER commented on #458
I will try to help with this awesome thing, I can test on every platform, so nice + I have a lot of research of work the messenger.com app. Actually, I don't have a lot of time to look all issues and trying it to solve, but you could notify me on issue what you don't have time to solve or just any reason, I will try to do it! Anyway, I'm happy the @Aluxian add new contributor as he said me on e-ma

[2016-06-28 19:31] orschiro commented on #458
Dear @Sytten,

I just gave the latest Beta a try on Ubuntu 16.04 and it works great!

I especially like the new tray icon. :smiley:

Thank you for your work!

~Robert

[2016-06-28 22:55] Sytten commented on #450
Good thank you!

[2016-06-28 22:59] Sytten commented on #453
@zapinguete @Frantik02
Thanks for the feedback, if it was resolved by a chrome update then it will be resolved too here when I update the framework. I'm waiting for the v0.16.0 to be stable (which should be really soon) and then I will update. This will also bring back the native notifications on demand :)

@Lupusaurus Yes I disabled it, because there was issues with the context menu appearing ove

[2016-06-28 23:10] Sytten commented on #458
@orschiro Good, great to hear that!

@GAMELASTER I mark the issues with the milestone corresponding to their release. If you want you can pick one that isn't assigned and fix it :)
A nice feature would be to add shorcuts in the app, this request has been reported many times. Someones forked the software and incorporate it (see https://github.com/dkess/Facebook-Messenger-Desktop), but his modificat

[2016-06-28 23:28] fabpin commented on #458
Hi, Sytten, i want to join like a developer, on the project, just need know, you use NW.js like a framework for develop this awesome project? just i need, for start the documentation of the project, and the confirmation about for the future development will develop with this framework?

[2016-06-29 02:21] Sytten commented on #459
![screenshot from 2016-06-28 22 20 00](https://cloud.githubusercontent.com/assets/2366731/16438529/a05b41e2-3d7e-11e6-9817-5928ffa1553f.png)

@skyli91 What do you think of that?
I can more options if needed

[2016-06-29 04:25] Sytten commented on #248
This is fixed in the latest beta.
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-29 04:25] #248 closed

[2016-06-29 04:26] Sytten commented on #247
Notification are working well on linux right now,
Please try the new beta.
See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-29 04:26] #247 closed

[2016-06-29 04:27] Sytten commented on #246
Please try to delete the cache in appdata/local on windows.
Also, please try our new beta version.
See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458
If you still have, feel free to open a new issue

[2016-06-29 04:27] #246 closed

[2016-06-29 04:29] Sytten commented on #245
This is strange and you seem to be the only user affected.
Please try our new beta (see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458).
There was probably a problem with the installation or removed some files by accident.
If you still have that problem, feel free to open a new issue

[2016-06-29 04:29] #245 closed

[2016-06-29 04:30] Sytten commented on #244
Yes this feature as been requested many time and will be implemented in a future beta.
Meanwhile please try our new beta. See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458
I will close this issue since we have many duplicates.

[2016-06-29 04:30] #244 closed

[2016-06-29 04:32] Sytten commented on #243
When you close the application it goes in the system tray, thats why you think its not quiting properly.
This is not a bug, its actually a quite handy feature.
If you still the software, please try our new beta. See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-29 04:32] #243 closed

[2016-06-29 04:34] Sytten commented on #242
Is this still an issue?
Please try our new beta (see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458).

[2016-06-29 04:34] #249 closed

[2016-06-29 04:35] Sytten commented on #241
This refresh time is handled by facebook, not our fault if its poorly handled. Sorry.
If you still want to use the application, please try our new beta. See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-29 04:35] #241 closed

[2016-06-29 04:36] Sytten commented on #240
Please try the new beta. See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458
If it is still an issue, please open a new issue.

[2016-06-29 04:36] #240 closed

[2016-06-29 04:38] Sytten commented on #239
Please try the new beta, see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458
The setInterval should be better handled now.
I will leave this issue open until I get a confirmation that the issue is gone.

[2016-06-29 04:39] Sytten commented on #238
Was fixed after you opened the issue, is not a problem anymore. Thanks.
Please take a look at our latest beta if your are still interested by the software.
See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-29 04:39] #238 closed

[2016-06-29 04:41] Sytten commented on #237
With the new beta the themes should be better. Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458.
I will keep your request open, but I don't promise I will find time to develop it.

[2016-06-29 04:43] Sytten commented on #236
Would be a nice feature, but its low priority...
Meanwhile please see our latest beta. More information here https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-29 04:45] Sytten commented on #235
Can you try the latest beta. See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458
We don't handle the font rendering so it must be a problem with the chromium browser.
If you still have that problem, please open a new issue.

[2016-06-29 04:45] #235 closed

[2016-06-29 04:46] Sytten commented on #234
Should be fixed in the new beta, please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458
If you still have that problem please open a new issue

[2016-06-29 04:46] #234 closed

[2016-06-29 04:48] Sytten commented on #233
First of all, we are only a wrapper around messenger.com so features like this one are hard to implement since we usually don't mess up with the html.
That being said I agree that would be a nice feature.
Meanwhile please see our new beta. More information here: #458

[2016-06-29 04:51] Sytten commented on #231
The problem isn't there anymore, at least on my computers.
Please try our new beta. See #458
If you still have that problem, please open a new issue...

[2016-06-29 04:51] #231 closed

[2016-06-29 04:53] Sytten commented on #230
That would be a nice feature, but first we must handle the shortcuts properly.
Meanwhile please see our new beta. More information here: #458

[2016-06-29 04:54] Sytten commented on #227
This problem isnt present anymore in the new beta.
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-29 04:54] #227 closed

[2016-06-29 05:47] ekokthx commented on #236
The whole purpose of postimage is to be able to effectively post an image.
Dragging+dropping an image is 1/3rd of the applicable nature of posting an
image.  I believe that it would be incredibly beneficial to retain this
feature.

On Wed, Jun 29, 2016 at 12:43 AM, Émile Fugulin <notifications@github.com>
wrote:

[2016-06-29 08:20] skyli91 commented on #459
looks good :) just make sure deleting messages will still work
![image](https://cloud.githubusercontent.com/assets/7442913/16445456/119b33d0-3de3-11e6-9588-bbe514159cfa.png)

[2016-06-29 08:31] skyli91 commented on #440
It should be just a css edit.
This is for me at fullscreen, and the same happens in chrome too so it must be css. I also wonder why i have to add a space after a link to have a preview.  :D
![image](https://cloud.githubusercontent.com/assets/7442913/16445777/879c692c-3de4-11e6-972f-139f9b891bde.png)

[2016-06-29 08:54] skyli91 commented on #440
._3058._15gf {
    max-width: 800px;
}

i can only put it to theme's css or somehow globally? like base.css? (i should move my edits with the scrollbar there too.

[2016-06-29 09:11] skyli91 commented on #440
made a pull request, it should work: https://github.com/Aluxian/Facebook-Messenger-Desktop/pull/464

[2016-06-29 12:18] Sytten commented on #440
Yea apply for each css page, should work.
All the images have the same class?

[2016-06-29 12:21] Sytten commented on #459
It still, but the context menu appears over it... I think I will prevent the delete button from appearing and move its logic to our context menu.

[2016-06-29 12:22] Sytten commented on #236
So what do you propose really? Drag/drop or Copy/Paste (and where should that copy/paste work, not sure to understand fully your request).

[2016-06-29 12:23] Kingbalou opened #465 "Crash at close Ubuntu 16.04"
Hi ,
when i close the messenger app
Ubuntu always says that there a problem and had to send a report.

[2016-06-29 12:24] Sytten commented on #465
What version are you using?
Have you tried the latest beta? (See #458)
Can't do anything with the information you give here.

[2016-06-29 12:28] skyli91 commented on #440
It worked in chrome browser :)

[2016-06-29 12:32] Kingbalou commented on #465
No more crash report when i close the app with beta.
What information do you need ?

[2016-06-29 12:56] Sytten commented on #465
Well thats good, if you any problem please open a new issue ;)

[2016-06-29 12:56] #465 closed

[2016-06-29 13:07] Sytten opened #466 "[v1.5.0-beta.0] Add option to check updates on the dev branch"
The title says it all, what do you think guys?

[2016-06-29 16:06] ekolis commented on #241
Really? That's odd; I do see "active now" on the official mobile app; I never see it on your app. The "refresh" issue I have noticed on the mobile app, though.

[2016-06-29 19:02] ekokthx commented on #236
The old version allows you to drag & drop a file from your Windows folder
into the file upload field.  I don't see this feature in the new version;
even though the interface looks cleaner.  Without this feature, users are
forced to click on the upload button and search for their file in the file
system.

Regards

On Wed, Jun 29, 2016 at 8:23 AM, Émile Fugulin <notifications@github.com>
wrote:

[2016-06-30 04:42] Sytten commented on #236
The drag and drop works perfectly here on windows and linux!
Still not understanding your request...

[2016-06-30 04:44] Sytten commented on #241
I see the active now all the time :)
And yes facebook seems to have trouble with this active time.

[2016-06-30 04:52] Sytten commented on #440
Good its merged, will be in the next beta (maybe this weekend, if I'm done moving to my new apartment).

[2016-06-30 05:12] Sytten commented on #439
Fixed: https://github.com/Aluxian/Facebook-Messenger-Desktop/commit/1f76ab2e7d7ecccb6b4e1add5a75f1559c0bd1e7
Will be in the next beta release.

[2016-06-30 05:12] #439 closed

[2016-06-30 05:14] Sytten opened #467 "[v1.5.0-beta.0] Rework the settings menu"
I feel like the settings menu is a bit too long and should be split in sub-menus.
If you guys have ideas for a new arrangement, I'm all hear!

[2016-06-30 05:17] Sytten commented on #174
This is fixed in the latest beta.
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-30 05:17] #174 closed

[2016-06-30 05:18] Sytten commented on #173
I don't see the problem here

[2016-06-30 05:18] Sytten commented on #172
Emotions should be uniforms now
Closing

[2016-06-30 05:18] #172 closed

[2016-06-30 05:19] Sytten commented on #171
This feature is already working right now.
Please see our new beta: https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458
If still can't do it, please open a new issue

[2016-06-30 05:19] #171 closed

[2016-06-30 05:21] Sytten commented on #170
I will take a look if its possible with our current framework.
Meanwhile please test our latest beta, see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458
We now use chrome-like notifications

[2016-06-30 05:23] Sytten commented on #169
We will be able to play video in the next beta release.
I will mark this issue as duplicated since we are already aware of the problem and many reported it.
Meanwhile please try our new beta release. See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-30 05:23] #169 closed

[2016-06-30 05:25] Sytten commented on #168
That should be easy to do. I agree it is important (version in the name).
As for an official repo, its not in my early plans. I would much rather update our update system so it works on all OS.
Meanwhile please try our new beta. See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-30 05:26] Sytten commented on #167
Ho, thank you I will update the link.

[2016-06-30 05:27] Sytten commented on #166
It is still planned but not for the next month I would say,
Meanwhile please test our new beta. See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-30 05:28] Sytten commented on #165
This is fixed in the new beta,
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-30 05:28] #165 closed

[2016-06-30 05:30] Sytten commented on #154
I will check if I can enable that. It will depend mostly if the framework supports it...

[2016-06-30 05:32] Sytten commented on #151
Since we removed the settings from the context menu this should not be an issue anymore.
Please try our new beta.
More Information here: https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458
If you still have problems, please open a new issue

[2016-06-30 05:32] #151 closed

[2016-06-30 05:33] Sytten commented on #150
Issue resolved in the current beta.
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-30 05:33] #150 closed

[2016-06-30 05:34] Sytten commented on #149
All issues listed above are resolved in the latest beta,
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458
As for the windows store, we don't plan to upload our software there...

[2016-06-30 05:34] #149 closed

[2016-06-30 05:35] Sytten commented on #145
Please try our new beta. See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458
This should now be handled automatically.
I will however check for myslef before closing the issue.

[2016-06-30 05:37] Sytten commented on #144
I have not notice this performances issue.
Pleas try our new beta. See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458
If you still have problems, please open a new issue.

[2016-06-30 05:37] #144 closed

[2016-06-30 05:37] Sytten commented on #143
Will look at it.

[2016-06-30 05:37] Sytten commented on #142
Nice thanks

[2016-06-30 05:39] Sytten commented on #141
I don't have this issue on linux, will need testing on mac.

[2016-06-30 05:40] Sytten commented on #140
Yes I will add it. Thanks
Meanwhile please try our new beta.
See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-30 05:42] Sytten commented on #138
Doesnt seem to be a problem anymore.
Please try our new beta. See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458
If you still have the problem, please open a new issue

[2016-06-30 05:42] #138 closed

[2016-06-30 05:43] Sytten commented on #296
Resolved in the latest beta.
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-30 05:43] #296 closed

[2016-06-30 05:45] Sytten commented on #178
This is fixed in the latest beta.
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-30 05:45] #178 closed

[2016-06-30 05:46] Sytten commented on #177
This would require a lot of work (since we are only a web-wrapper), but I will add it to the TODO.
Meanwhile please try our beta. See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-30 05:49] Sytten commented on #176
This seems to be resolved now.
We can mess up the css to change the responsive settings if needed.
Please try our new beta. See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458
I will close the issue, but please comment here if you still have the problem with the beta so we can reopen it.

[2016-06-30 05:49] #176 closed

[2016-06-30 05:50] Sytten commented on #175
The icon gets a reb blob when receiving a new message.
It also shows a notification if enabled in the facebook settings.
Please try our new beta too! See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-30 05:50] #175 closed

[2016-06-30 05:52] Sytten commented on #285
This should be fixed in the latest beta.
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458
If you still have problems, please open a new issue

[2016-06-30 05:52] #285 closed

[2016-06-30 05:52] Sytten commented on #283
This a problem on your side or github, cant help you very much...

[2016-06-30 05:52] #283 closed

[2016-06-30 05:53] Sytten commented on #282
This should not be an issue anymore.
Please try our new beta. See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-30 05:53] #282 closed

[2016-06-30 05:55] Sytten commented on #279
Tray icon is solved.
No sure what you talk about when you seem the other folder.
Please remember that we are only a web-wrapper around messenger.com and we only provide the features facebook provides on the messenger.com page.

Please try our new beta.
See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-30 05:56] Sytten commented on #278
Just tick the settings to remember me when logging in.

Please try our latest beta. See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-30 05:56] #278 closed

[2016-06-30 05:56] Sytten commented on #276
This is fixed in the latest beta.
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-30 05:56] #276 closed

[2016-06-30 05:58] Sytten commented on #274
That should be something easy to do.

Please try our latest beta.
See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-30 05:59] Sytten commented on #271
Its not planned for the near future, but I agree it would be nice to have a global app for multiple accounts and services.
For reference: https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/158

[2016-06-30 06:00] Sytten commented on #261
This is fixed in the latest beta,
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-30 06:00] #261 closed

[2016-06-30 06:01] Sytten commented on #251
There is already an issue opened for that, thanks

[2016-06-30 06:01] #251 closed

[2016-06-30 06:02] Sytten commented on #252
The title change should now be slower in the new beta,
Ass for the other problem an issue is already open.
Please try out the beta. See https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-06-30 06:02] #252 closed

[2016-06-30 06:39] Aluxian commented on #167
I don't think this is a problem anymore, we have https now.

[2016-06-30 06:43] Aluxian commented on #143
Should be added here: https://github.com/Aluxian/Facebook-Messenger-Desktop/blob/master/gulpfile.coffee

In macPlist

[2016-06-30 07:28] cassiodoroVicinetti commented on #158
Support **provided that** multiple tray icons are created, one for each service.

[2016-06-30 10:37] Hori873 commented on #285
Hello, it is indeed fixed in the beta, thanks!

[2016-06-30 11:45] Sytten commented on #285
Nice! Good to hear that :)

[2016-06-30 11:46] Sytten commented on #158
Don't you prefer, one tab for each service?

[2016-06-30 11:47] Sytten commented on #143
Ho thats means it would only apply on mac...
I think we should find a general solution for Windows and Linux HiDPI too.

[2016-06-30 11:49] Sytten commented on #167
I checked and the link is correct with the command apt-cache show.
Issue resolved

[2016-06-30 11:49] #167 closed

[2016-06-30 12:16] Aluxian commented on #158
Messenger for Desktop and my other apps won't be merged with other services. There's Franz for that.

[2016-06-30 12:16] #158 closed

[2016-06-30 12:57] Sytten commented on #458
Hi @fabpin, yes we use NW.JS as our framework.
Aluxian wants to move to electron eventually, but don't know when it will be ready for release. I plan to continue to support the version based on NW.JS because I like this framework and releases are now sync with the chromium releases.
We don't have an official documentation though it would be nice to have one, the code needs a major refactoring and

[2016-06-30 14:22] TPC3D opened #468 "Cannot change to dark theme"
Perhaps this was caused because of [this](https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/459), but I can no longer switch themes, it appears. There is no option for it under the settings menu, and with the rightclick menu(context menu?) disabled I don't know how else to do it.

Sorry if I'm missing something obvious, I moved from v1.4.3 to the beta v1.5.0 just to fix the dark mode, h

[2016-06-30 17:26] Sytten commented on #468
Hi! Thanks for using the beta!
When you right-click on the tray icon you can find the setting related to themes.

Here is an example on linux.
![screenshot from 2016-06-30 13 24 21](https://cloud.githubusercontent.com/assets/2366731/16497646/165c87aa-3ec6-11e6-9902-c0314ddda703.png)

[2016-06-30 17:36] cassiodoroVicinetti commented on #158
@Sytten Not at all! Tray icons are also useful to see whether you received a message.

[2016-06-30 17:41] TPC3D commented on #468
Thank you, sir! I apologize if I missed that in the changelogs anywhere!

[2016-06-30 17:41] #468 closed

[2016-06-30 17:41] Sytten commented on #158
@cassiodoroVicinetti ok ok :)

[2016-06-30 17:42] Sytten commented on #468
Not a problem! The tray icon was present from some time now :)

[2016-07-02 03:43] soccernerd05 opened #469 "Dark Theme Button Missing?"
As of today the dark theme button has been missing from both the website and the messenger desktop app, please fix this issue!

[2016-07-02 08:54] PeterDaveHello commented on #284
Thanks @Sytten, is it possible to provide the deb package for raspbian? Current release packages look like for PC only, thanks.

[2016-07-02 09:16] Aluxian commented on #284
@sytten how can it work out of the box? Our builds are x86 and x64, not ARM.

@peterdavehello we currently don't support ARM computers, but we might do in Messenger for Desktop 2 (planned for this summer).

I'll reopen this to have it as a feature request.

[2016-07-02 09:35] PeterDaveHello commented on #284
Thanks! Feel free to ping me if you need somebody to help test it!

[2016-07-02 18:57] Aluxian commented on #458
I think having @Sytten as an official maintainer is enough (i.e. he's doing a great job already). Anyone who wants to help is very welcome to send PRs, chat with us on Gitter, provide feedback and test releases.

[2016-07-02 22:43] Sytten commented on #458
yep understand that perfectly. PR is a good way to contribute anyway.

[2016-07-02 22:44] Sytten commented on #284
@Aluxian Yep true, I wasn't thinking about the architecture.
Don't think electron supports ARM anyway...

[2016-07-02 22:46] Sytten commented on #469
Not sure want your talking about. Please provide at least a screen capture.
Also what version are you using? I have been upgrading the software to version 1.5.0-beta.0 lately.

[2016-07-03 00:02] soccernerd05 commented on #469
![no dark theme](https://cloud.githubusercontent.com/assets/16909181/16543035/42d5cefa-4087-11e6-8480-e4bf63f9d8e7.png)

There used to be a button that would switch the site/app into a dark theme from the regular theme. I've circled in red where the button used to be. I am using the website, I have also been updated to the most recent version of the app and tried it on that but it still doesn't wo

[2016-07-03 03:27] Aluxian commented on #284
@sytten well... Look again :D They have linux-arm releases on the releases page. I checked myself before I wrote the other comment.

[2016-07-03 06:22] Skurrow opened #471 "Group Calling isn't an option."
To be honest, the only reason I downloaded this app was because I hoped that like the app for mobile, it'd allow me to host a group call. However it does not. Would really love to see it introduced ASAP. Will not be using the app until it does.

[2016-07-04 01:57] Sytten commented on #469
Facebook deleted it. Not our fault at all and really not an issue about our software. Please contact Facebook for that.
However, we do provide an option to switch to a dark mode. If your right/left click on tray icon you will see the theme sub-menu from which you can decide theme.
You won't get the dark theme in your web browser, but you will have it in the app.

[2016-07-04 01:57] #469 closed

[2016-07-04 01:59] Sytten commented on #284
Yes its maybe possible then. Still you have different types of ARM, but since the RPI is a popular device they probably provide the support for it.

[2016-07-04 02:04] Sytten commented on #471
To be honest, your attitude makes me want to close your issue ASAP.
Please note that we provide free work and if you are not satisfied you can help instead of complaining.

As for the request, you must first understand that we are only a wrapper around messenger.com. All the features provided by messenger.com are in the app. I never tested group calls myself but I don't see why it would not work o

[2016-07-04 04:04] Sytten commented on #456
EDIT: Sound notification are there if you activate them in the facebook preferences.
We should put an option for it in our settings.

As for delay I don't think its a good idea to wait if another program is full screen, that would be hard to detect in the first place on all platforms and would probably create strange side effects sometime...

[2016-07-04 13:37] ekolis commented on #466
Yes, please!

[2016-07-04 13:38] ekolis commented on #457
On Windows 10 it's a gray box in the corner that disappears after a user-configurable amount of time; on previous versions it's a beige balloon that stays there until you dismiss it (is there a way to dismiss it  without actually opening it?)

[2016-07-05 01:03] Sytten commented on #457
ekolis, I think its an option.
I would need to double check with the NWJS documentation though, I'm not sure...

[2016-07-05 01:05] #471 closed

[2016-07-05 12:02] mzso commented on #457
[**@Sytten**](https://github.com/Sytten) commented on [2016. jún. 26. 13:55 CEST](https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/457#issuecomment-228597668 "2016-06-26T11:55:27Z - Replied by Github Reply Comments")

I don't know what the chrome-like notification would be like. (probably annoying) But the horrible ballons I disable immediately after I installed windows.

[2016-07-05 12:04] mzso commented on #457
[**@ekolis**](https://github.com/ekolis) commented on [2016. júl. 4. 15:38 CEST](https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/457#issuecomment-230292906 "2016-07-04T13:38:48Z - Replied by Github Reply Comments"):

Are they still in win 8.1? I don't remember disabling them, but I also didn't get any of them.

[2016-07-05 12:26] mzso commented on #457
[**@Sytten**](https://github.com/Sytten) commented on [2016. jún. 26. 13:55 CEST](https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/457#issuecomment-228597668 "2016-06-26T11:55:27Z - Replied by Github Reply Comments"):

Actually it's a matter of preference. Some might want a strong visual indicator to be certain to not miss a message instead of a sound that lasts for a fraction of a sec

[2016-07-05 14:09] gameslayer commented on #453
Confirmed same issues on Xubuntu 16.04, will try the 1.5.0  version.

[2016-07-05 19:25] erayerdin opened #474 "Linux SSL_ERROR_ENCRYPTION_FAILURE Causes Not To Load the Page"
The title of app is `app.html` as below:

![image](https://cloud.githubusercontent.com/assets/2399084/16597009/57656c3e-42ff-11e6-803a-df2e1cf49723.png)

And the terminal output is as below:

    [2226:0705/221719:ERROR:browser_main_loop.cc(170)] Running without the SUID sandbox! See https://code.google.com/p/chromium/wiki/LinuxSUIDSandboxDevelopment for more information on developing with the san

[2016-07-06 04:46] SkebbZ commented on #453
Had this issue in Ubuntu 16.04, tried the 1.5.0 beta with good results. Yesterday, however, this also happened in Windows 10. Installed the 1.5.0 beta there as well, and it worked again.

[2016-07-06 09:55] ivanovsaleksejs commented on #474
The same error:

`[5333:0706/125112:WARNING:nss_ssl_util.cc(374)] Unknown SSL error -12218 (SSL_ERROR_ENCRYPTION_FAILURE) mapped to net::ERR_SSL_PROTOCOL_ERROR`

Platform:

[2016-07-07 00:47] Sytten commented on #453
Good! Stay tuned for more features coming soon

[2016-07-07 00:48] Sytten commented on #457
I agree we can make this a setting, I'm really busy right now with school but I will do my best to make it happen.

[2016-07-07 19:42] mehdi-alouane commented on #474
here the solution #453

[2016-07-09 07:24] erayerdin commented on #474
Not solved on Xubuntu 16.04 by #453 .

Current latest (1.5.0 beta) uninstalled
1.4.8 installed
Still same

However, issue seems to be duplicate of #453, so anyone having the same issue should go there. Issue closed.

[2016-07-09 07:24] #474 closed

[2016-07-09 22:38] sheldonhull opened #475 "Not loading in windows 10"
I've been unable to load on two seperate systems with windows 10
I've tried the troubleshooting compatibility, and running as admin, windows 7 compat, etc. Nothing is working.

Anyone else experiencing the issue on windows 10?

[2016-07-09 22:39] sheldonhull commented on #475
Correction, windows 10 professional correctly opened it now after reloading. I will try Windows 10 Enterprise later and see if i'm still having it fail

[2016-07-10 06:54] zackexplosion commented on #457
In OSX just like LINE and slack with a red dot on dock, it will be better.

![image](https://cloud.githubusercontent.com/assets/5180966/16712107/1f5f5b3a-46ae-11e6-8018-5b03d30d098a.png)

[2016-07-10 12:24] JamesTobin opened #476 "messenger for Ubuntu Linux"
Messenger for Ubuntu Linux does not play my voice messages for some reason (but sends them OK). Why is this?

[2016-07-10 13:26] Sytten commented on #476
Because of the lib used only support open-source codec. We need to change it manually to use the proprietary codecs. Will be in the next beta.

[2016-07-10 13:27] Sytten commented on #475
Have you tried the latest beta?

[2016-07-10 13:28] #440 closed

[2016-07-10 13:36] Sytten commented on #458
I will work on the next beta today.
Might have time to release it tonight (eastern time) or tomorrow night.
Stay tuned.

[2016-07-10 19:18] Nifled opened #477 "Hot keys"
Something similar was asked a relatively long time ago, but not in detail. There should be key shortcuts to do all the general stuff like cycle through conversations, create a new message, find a message/conversation/person, etc. I think this would make the app complete, as hot keys are a necessary convention.

[2016-07-11 15:26] Sytten commented on #477
Yes, we have PR for this.
I need to test it and integrate it.
It will be in the next beta release :)

[2016-07-11 22:53] AkiyoSSJ opened #478 "I don't have notifications"
The notifications are turned on but I don't receive when someone sends me a message, even the Facebook Messenger icon from the taskbar doesn't has the orange glow. I have Windows 10.

[2016-07-11 23:24] Sytten commented on #478
What version do you use?
Are you sure that they are on, sometime they seem to disable themselves...

[2016-07-11 23:51] AkiyoSSJ commented on #478
I have 1.4.3 .
Yes they are enabled.

[2016-07-12 05:53] dufferzafar commented on #257
Yes, there should be a global shortcut key - for when the app is running in the Menu Bar mode on mac.

[2016-07-12 05:54] dufferzafar commented on #477
Also for https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/257

[2016-07-12 07:32] Nifled commented on #477
Great, thanks!

[2016-07-12 07:33] Nifled commented on #477
Great, thanks!

[2016-07-13 00:15] StayAwake14 opened #479 "Can't running beta version on windows 10."
Hi. I just have read the list of fixes in the beta version and finally I thought I can run a new version with fixed themes but I can't because an application just opens the window with a title "Messenger - Connecting" and it can't to connect. Any ideas? or it is just code issue?

[2016-07-13 01:42] 4evermaat opened #480 "`CTRL + Enter` or `Alt +Enter` to send message...."
I noticed that when I press `enter`, it sends the message.  But I want option to use `CTRL + Enter` or `ALT + Enter` to send message.  This way, I can type several paragraphs without having to send the message accidentally.

Skype, LINE, and other chat programs have implemented this.  Screenshot proof.
![skype option to send line break vs send message](https://cloud.githubusercontent.com/assets/83

[2016-07-13 02:53] Sytten commented on #480
Yeah it has been already requested. Might add it with the shortcuts issue later on.

[2016-07-13 02:54] Sytten commented on #479
Not code issue, the version is working fine.
Try to clear the cache (see the wiki for that).
Also make sure your are connected to the internet when you launch the software, can cause problems if you are not.

[2016-07-13 02:56] Sytten commented on #478
No idea then, it should be working.
You can test the v1.5.0 beta if you want.
Can't really help if I don't have error logs or more information.

[2016-07-13 02:56] #476 closed

[2016-07-13 08:12] mosley93 opened #481 "Notifications in beta version"
Hi, I installed 1.50 beta version of Messenger for desktop and I found out that the notifications display different way than it used to on the older version that I had. I'm using Windows 8.1 so I'm not used to look for notification on the right bottom corner of my screen, because all other apps notifications display in upper right cornet. Also I think the previous version of notification was bette

[2016-07-13 19:45] TheBlackViper1996 opened #482 "App fails to start."
Whenever I launch the app the title says "app.html" and displays the loading animation constantly.
The app worked previously, it is the latest version (1.4.3) and has not been upgraded from a previous version, it is a clean install on a brand new laptop.
When I enter the Developer Tools it displays this error "Failed to load resource: net::ERR_SSL_PROTOCOL_ERROR   https://www.messenger.com/login"

[2016-07-13 20:10] g4be opened #483 "Start in the background"
When the system start up and the `Launch on Startup` option is enabled, the app window pop up automatically. Sometimes it's a bit annoying and every time you should close it (I use notifications).
It would be awesome if there were an options which start the app in the background, so only "small icon" will be appeared on the system tray, whithout the window on the task bar.

[2016-07-14 01:57] Sytten commented on #481
Hi!
The new notification are chrome-like notification.
We can't change it back to the native one for now since we don't control that process (handled by the framework we use).
Thanks for reporting and sorry we can't help you ;/

[2016-07-14 01:57] #481 closed

[2016-07-14 01:58] Sytten commented on #482
Have you tried the latest beta?

[2016-07-14 01:58] Sytten commented on #483
This is fixed in the beta.
Please see https://github.com/Aluxian/Facebook-Messenger-Desktop/issues/458

[2016-07-14 01:58] #483 closed

[2016-07-14 09:32] StayAwake14 commented on #479
Did it and it still not working.

[2016-07-15 07:39] hal08n commented on #482
Can't get either the beta (1.4.8) or the stable version to work on Ubuntu 14.04.  Same experience as Black Viper with 1.4.3; Beta (upgrade) brings up a blank window that says "Connecting" and won't close.  No idea what the issues are but right now it's not much use on Ubuntu.  Also no way to uninstall from the Ubuntu software center.

[2016-07-15 19:54] mantasjk opened #484 "WM_CLASS is unavailable"
On linux you can use WM_CLASS name of an application to bind launch and running application icons to one by adding WM_CLASS name to .desktop file, so there isn't a duplicate of it in the tool bar. Messenger hasn't got any WM_CLASS assigned to it and so there are always two icons in the tool bar.

[2016-07-15 22:47] maher17 commented on #351
when i had windows 10 i just waited for 2 to 5(max) minutes  to the messanger show . thank so much for this awsome app !!!!

[2016-07-16 04:29] Sytten commented on #482
Try with V1.5.0. On Ubuntu most people had trouble with the previous versions.

[2016-07-16 04:29] Sytten commented on #479
Can't help you much with so little information...

[2016-07-16 04:29] Sytten commented on #484
Done in the beta, please use it

[2016-07-16 04:29] #484 closed

[2016-07-16 09:09] StayAwake14 commented on #479
https://scr.hu/pRN9Gn

I am connected to the internet so (?)...

[2016-07-16 09:39] mantasjk opened #485 "Beta doesn't connect"
On Ubuntu 16.04 messenger v1.4.8 doesn't connect. After launch a white window appears which says in the title "Messenger - Connecting" but it never does and also the whole window freezes/crashes which makes it impossible to close with X button.

[2016-07-16 10:25] robiXxu opened #486 "Visual Bug on Dark Theme"
On linux and also on mac version (don't know if also on windows but it's very likely)
When using the dark theme the textarea (message box is white also the text is white
just a CSS problem

![darkthemebug](https://cloud.githubusercontent.com/assets/1962141/16894223/ca5b6c64-4b58-11e6-97d3-fcb3ed15a0f6.png)

[2016-07-16 10:26] robiXxu commented on #486
the text in this case is selected

[2016-07-17 11:37] okgolove commented on #485
+1
I have the same problem. Fedora 23.

[2016-07-17 12:55] Sytten commented on #479
1. Try running as administrator
2. Try launching it using the command prompt and see the errors they give you.

Also can you right click on the tray icon?
It is really strange why its not working.

[2016-07-17 12:55] Sytten commented on #486
Please use the stable, its been fixed

[2016-07-17 12:55] #486 closed